    /*
    Flaticon icon font: Flaticon
    Creation date: 28/11/2020 14:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-credit-card:before { content: "\f100"; }
.flaticon-exchange:before { content: "\f101"; }
.flaticon-currency:before { content: "\f102"; }
.flaticon-debit-card:before { content: "\f103"; }
.flaticon-credit-card-1:before { content: "\f104"; }
.flaticon-tshirt:before { content: "\f105"; }
.flaticon-quantity:before { content: "\f106"; }
.flaticon-measuring:before { content: "\f107"; }
.flaticon-market:before { content: "\f108"; }
.flaticon-template:before { content: "\f109"; }
.flaticon-browser:before { content: "\f10a"; }
.flaticon-video-player:before { content: "\f10b"; }
.flaticon-add-to-cart:before { content: "\f10c"; }
.flaticon-add-to-cart-1:before { content: "\f10d"; }
.flaticon-split:before { content: "\f10e"; }
.flaticon-split-1:before { content: "\f10f"; }
.flaticon-split-screen:before { content: "\f110"; }
.flaticon-exposure:before { content: "\f111"; }
.flaticon-activity:before { content: "\f112"; }
.flaticon-filter-2:before { content: "\f113"; }
.flaticon-category:before { content: "\f114"; }
.flaticon-bookmark:before { content: "\f115"; }
.flaticon-buy:before { content: "\f116"; }
.flaticon-delete:before { content: "\f117"; }
.flaticon-document:before { content: "\f118"; }
.flaticon-edit-square:before { content: "\f119"; }
.flaticon-hide:before { content: "\f11a"; }
.flaticon-info-circle:before { content: "\f11b"; }
.flaticon-logout:before { content: "\f11c"; }
.flaticon-message:before { content: "\f11d"; }
.flaticon-plus:before { content: "\f11e"; }
.flaticon-setting:before { content: "\f11f"; }
.flaticon-show:before { content: "\f120"; }
.flaticon-login:before { content: "\f121"; }
.flaticon-lock:before { content: "\f122"; }
.flaticon-profile:before { content: "\f123"; }
.flaticon-search:before { content: "\f124"; }
.flaticon-ticket:before { content: "\f125"; }
.flaticon-info-square:before { content: "\f126"; }
.flaticon-arrow-up:before { content: "\f127"; }
.flaticon-arrow-down-2:before { content: "\f128"; }
.flaticon-arrow-up-2:before { content: "\f129"; }
    
    $font-Flaticon-credit-card: "\f100";
    $font-Flaticon-exchange: "\f101";
    $font-Flaticon-currency: "\f102";
    $font-Flaticon-debit-card: "\f103";
    $font-Flaticon-credit-card-1: "\f104";
    $font-Flaticon-tshirt: "\f105";
    $font-Flaticon-quantity: "\f106";
    $font-Flaticon-measuring: "\f107";
    $font-Flaticon-market: "\f108";
    $font-Flaticon-template: "\f109";
    $font-Flaticon-browser: "\f10a";
    $font-Flaticon-video-player: "\f10b";
    $font-Flaticon-add-to-cart: "\f10c";
    $font-Flaticon-add-to-cart-1: "\f10d";
    $font-Flaticon-split: "\f10e";
    $font-Flaticon-split-1: "\f10f";
    $font-Flaticon-split-screen: "\f110";
    $font-Flaticon-exposure: "\f111";
    $font-Flaticon-activity: "\f112";
    $font-Flaticon-filter-2: "\f113";
    $font-Flaticon-category: "\f114";
    $font-Flaticon-bookmark: "\f115";
    $font-Flaticon-buy: "\f116";
    $font-Flaticon-delete: "\f117";
    $font-Flaticon-document: "\f118";
    $font-Flaticon-edit-square: "\f119";
    $font-Flaticon-hide: "\f11a";
    $font-Flaticon-info-circle: "\f11b";
    $font-Flaticon-logout: "\f11c";
    $font-Flaticon-message: "\f11d";
    $font-Flaticon-plus: "\f11e";
    $font-Flaticon-setting: "\f11f";
    $font-Flaticon-show: "\f120";
    $font-Flaticon-login: "\f121";
    $font-Flaticon-lock: "\f122";
    $font-Flaticon-profile: "\f123";
    $font-Flaticon-search: "\f124";
    $font-Flaticon-ticket: "\f125";
    $font-Flaticon-info-square: "\f126";
    $font-Flaticon-arrow-up: "\f127";
    $font-Flaticon-arrow-down-2: "\f128";
    $font-Flaticon-arrow-up-2: "\f129";