<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link rel="stylesheet" href="/views/global.css">
</head>
<body>
	<!--<div style="height: 100px"><a class='slink' id='logout'><button>Logout</button></a></div>-->
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<div class="sidebar_container">
		<div id="sidebar">
			<div id="sidebar_logo">
				<img src="/views/gfx/logo.png" alt="">
			</div>
			<div id="sidebar_menu">
				<h4>Admin tools</h4>
				<div class="item"  href='/dashboard'>
					<span class="icon"><i class="fas fa-columns"></i></span><span class="text">Overview</span>
				</div>
				<div class="item " href='/funnels'>
					<span class="icon"><i class="fas fa-filter"></i></span><span class="text">My Funnels</span>
				</div>
				<div class="item "  href='/apps'>
					<span class="icon"><i class="fas fa-star-half-alt"></i></span><span class="text">Apps</span>
				</div>
				<div class="item"  href='/marketplace'>
					<span class="icon"><i class="fas fa-store"></i></span><span class="text">Marketplace</span>
				</div>
				<div class="item"  href='/documentation'>
					<span class="icon"><i class="fas fa-book"></i></span><span class="text">Documentation</span>
				</div>
				<div class="item"  href='/subscriptions'>
					<span class="icon"><i class="fas fa-money-check-alt"></i></span><span class="text">My Subscriptions</span>
				</div>
				<div class="item"  href='/support'>
					<span class="icon"><i class="far fa-question-circle"></i></span><span class="text">Support</span>
				</div>
				
			
			</div>
			<div class="premcont">
			<button class='black_button orange' id='gopremium'><i class="fas fa-crown"></i><span style="display: inline-block; width: 7px;"></span>Go Premium</button></div>
			<div id="sidebar_userdrop">
				<div class="userdrop_link"  id='profile'>
					<div class="userdrop_icon"><i class="fas fa-user"></i></div>
					<div class="userdrop_text">Profile</div>
				</div>
				<div class="userdrop_link" id='logout'>
					<div class="userdrop_icon"><i class="fas fa-power-off"></i></div>
					<div class="userdrop_text">Logout</div>
				</div>
			</div>
			<div id="sidebar_user">	
				<div class="user_icon">
					<img src="/views/gfx/avatar.png" alt="">
				</div>
				<div class="user_details">
					<div class="user_fullname">User</div>
					<div class="user_membership">Free Trial</div>
				</div>
				<div class="user_arrow"><i class="fas fa-chevron-down"></i></div>
			</div>
		</div>
	</div>
	<div id="page_wrapper">
		<div class="row">
			<div class="col-md-12 center_page">
				<div class="inside">
					<div class="welcome_box">
						<h4>Edit Account Information</h4>
						<h1>My Account</h1>
					</div>
					<div id="myapps" class="row">
					<div class="dbox col-md-4 myaccountbox" id="applist">
						<div class="app_item active" style="margin-top: 0;" data-ff_id='formProfile'>
							<div class="app_icon gray">
								<i class="fas fa-address-card"></i>
							</div>
							<div class="app_details">
								<div class="app_title">Profile</div>
								<div class="app_caption">Change your profile information</div>
							</div>
						</div>
						<div class="app_item" data-ff_id='formPassword'>
							<div class="app_icon gray">
								<i class="fas fa-key"></i>
							</div>
							<div class="app_details">
								<div class="app_title">Password</div>
								<div class="app_caption">Change your password</div>
							</div>
						</div>
						<div class="app_item" data-ff_id='formEmail'>
							<div class="app_icon gray">
								<i class="fas fa-at"></i>
							</div>
							<div class="app_details">
								<div class="app_title">Email</div>
								<div class="app_caption">Change your Email Address</div>
							</div>
						</div>
						<div class="app_item" data-ff_id='formDelete'>
							<div class="app_icon red">
								<i class="fas fa-user-slash"></i>
							</div>
							<div class="app_details red">
								<div class="app_title">Delete Account</div>
								<div class="app_caption">Delete My Account</div>
							</div>
						</div>
					</div>
					<div class="col-md-8" id='app_desc'>
						<div class="dbox">
							<div class='form_item' id='formProfile'>
								<h2>Profile Information</h2>
									<h4 class='green' id='profileStatus'></h4>
									<div class="field">
										<div class="field_label">Username</div>
										<div class="field_input"><input type="text" name='username' id="a_username" ></div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="field_label">First Name</div>
											<div class="field_input"><input type="text" name='firstName' id="a_fn"></div>
										</div>
										<div class="col-md-6">
											<div class="field_label">Last Name</div>
											<div class="field_input"><input type="text" name='lastName' id="a_ln"></div>
										</div>
									</div>
									<br>
									<button class='black_button central' id="a_submit">Change Info</button>
								
							</div>
							<div class='form_item' id='formPassword' style="display: none">
								<h2>Change Password</h2>
								
									<div class="field">
										<div class="field_label">Current Password</div>
											<div class="field_input"><input type="password"  name='old_password' id="old_pwd"></div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="field_label">New Password</div>
											<div class="field_input"><input type="password"  name='password' id="new_pwd"></div>
										</div>
										<div class="col-md-6">
											<div class="field_label">Confirm New Password</div>
											<div class="field_input"><input type="password"  name='password_confirm' id="new_pwd_confirm"></div>
										</div>
										
									</div>
									<br>
									<button class='black_button central' id="a_submit">Change Password</button>
								
							</div>
							<div class='form_item' id='formEmail' style="display: none">
								<h2>Change Email Address</h2>
								
									<div class="row">
										<div class="col-md-6 field">
											<div class="field_label">Your Current Email</div>
											<div class="field_input"><input type="text"  name='old_password' id="old_pwd"></div>
										</div>
										
										<div class="col-md-6 field">
											<div class="field_label">Your New Email</div>
											<div class="field_input"><input type="text"  name='old_password' id="old_pwd"></div>
										</div>
										
										
									</div>
									<div class="field">
										<div class="field_label">Reason</div>
										<div class="field_input"><input type="text"  name='old_password' id="old_pwd"></div>
										</div>
									<br>
									
									<br>
									<button class='black_button central' id="a_submit">Submit</button>
								
							</div>
							<div class='form_item' id='formDelete' style="display: none; padding-top: 80px;">
								<h2 style="text-align: center;	color: #E04A3A;">Delete Your Account</h2>
								<h4>Are you sure you want to permanently delete your account ?</h4>
								<form id="accform">
									<button class='black_button red' type="submit" id="a_submit">Delete My Account</button>
								</form>
							</div>
						</div>
					</div>

					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!--<div id="innerCont">
		<h1 style="text-align: center;">Steps</h1>
		<hr>	
		<div class="row" style="min-height: 200px;">
			<div class="col-md-8">
				<div id="buttonbar" class="buttonbar">
					<button onclick='addfunnel()'>+ Add Funnel</button>
				</div>
				<div id="stepBox" style="display: none;">
					<input type="text" placeholder="Funnel Title" id='funnelTitle'>
					<button id='addFunnel' class='purplebutton'>+ Add Funnel</button>
					<button id='cancelFunnel'>Cancel</button>
				</div>
				<div id="inside">
				
				
				</div>
			</div>
			
			<div class="col-md-4">
				<div id="buttonbar2" class="buttonbar">
					
				</div>
				<div id="insideProd">
				
				
				</div>
			</div>
		</div>
	</div>-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	refreshProfile();

	$('.app_item').click(function(){
		$('.app_item').removeClass('active');
		$(this).addClass('active');

		$('.form_item').hide();
		$('#'+$(this).data('ff_id')).fadeIn(350);
	});

	//FORM SUBS

	$('#a_submit').click(function(){
		updateProfile($('#a_username').val(),$('#a_fn').val(),$('#a_ln').val(),function(err,data){
			if(!err) {
				$('#profileStatus').html('<i class="far fa-check-circle"></i> Your profile was successfully updated.')
			}else{
				alert(err);
			}
		});
	});

	function refreshProfile(){
		getProfile(function(err,data){
			if(!err) {
				$('#a_username').val(data.user_.username);
				$('#a_fn').val(data.user_.firstName);
				$('#a_ln').val(data.user_.lastName);
			}else{
				alert(err);
			}
		});
	}
</script>
</body>
</html>