<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link rel="stylesheet" href="/views/global.css">
</head>
<body>
	<!--<div style="height: 100px"><a class='slink' id='logout'><button>Logout</button></a></div>-->
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<div class="sidebar_container">
		<div id="sidebar">
			<div id="sidebar_logo">
				<h1>LOGO</h1>
			</div>
			<div id="sidebar_menu">
				<h4>Admin tools</h4>
				<div class="item"  href='/dashboard'>
					<span class="icon"><i class="fas fa-columns"></i></span><span class="text">Overview</span>
				</div>
				<div class="item " href='/funnels'>
					<span class="icon"><i class="fas fa-filter"></i></span><span class="text">My Funnels</span>
				</div>
				<div class="item active_item"  href='/apps'>
					<span class="icon"><i class="fas fa-star-half-alt"></i></span><span class="text">Apps</span>
				</div>
				<div class="item"  href='/documentation'>
					<span class="icon"><i class="fas fa-book"></i></span><span class="text">Documentation</span>
				</div>
				<div class="item"  href='/subscriptions'>
					<span class="icon"><i class="fas fa-money-check-alt"></i></span><span class="text">My Subscriptions</span>
				</div>
				<div class="item"  href='/support'>
					<span class="icon"><i class="far fa-question-circle"></i></span><span class="text">Support</span>
				</div>
				
			
			</div>
			<div class="premcont">
			<button class='black_button orange' id='gopremium'><i class="fas fa-crown"></i><span style="display: inline-block; width: 7px;"></span>Go Premium</button></div>
			<div id="sidebar_userdrop">
				<div class="userdrop_link" id='profile'>
					<div class="userdrop_icon"><i class="fas fa-user"></i></div>
					<div class="userdrop_text">Profile</div>
				</div>
				<div class="userdrop_link" id='logout'>
					<div class="userdrop_icon"><i class="fas fa-power-off"></i></div>
					<div class="userdrop_text">Logout</div>
				</div>
			</div>
			<div id="sidebar_user">	
				<div class="user_icon">
					<img src="/views/gfx/avatar.png" alt="">
				</div>
				<div class="user_details">
					<div class="user_fullname">Taha Boudouma</div>
					<div class="user_membership">Free Trial</div>
				</div>
				<div class="user_arrow"><i class="fas fa-chevron-down"></i></div>
			</div>
		</div>
	</div>
	<div id="page_wrapper">
		<div class="row">
			<div class="col-md-12 center_page">
				<div class="inside">
					<div class="welcome_box">
						<h4>Enable/Disable apps</h4>
						<h1>My Apps</h1>
					</div>
					<div id="myapps" class="row">
					<div class="dbox col-md-4" id="applist">
						<h2>Apps</h2>
						<div class="app_item">
							<div class="app_icon blue">
								<i class="fab fa-paypal"></i>
							</div>
							<div class="app_details">
								<div class="app_title">Paypal</div>
								<div class="app_caption">Integrate Paypal with Stripe</div>
							</div>
						</div>
						<div class="app_item">
							<div class="app_icon yellow">
								<i class="fas fa-euro-sign"></i>
							</div>
							<div class="app_details">
								<div class="app_title">Currency Converter</div>
								<div class="app_caption">Support Worldwide Currencies</div>
							</div>
						</div>
						<div class="app_item">
							<div class="app_icon pink">
								<i class="fas fa-plus-square"></i>
							</div>
							<div class="app_details">
								<div class="app_title">Quantity Selector</div>
								<div class="app_caption">Select product quantity</div>
							</div>
						</div>
						<div class="app_item">
							<div class="app_icon blue">
								<i class="fas fa-tshirt"></i>
							</div>
							<div class="app_details">
								<div class="app_title">Variants</div>
								<div class="app_caption">Support Product Variations</div>
							</div>
						</div>
					</div>
					<div class="col-md-8" id='app_desc'>
						<div id="app_desc" class="dbox">
							<h1>Paypal</h1>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ligula at ex scelerisque viverra. Morbi ipsum sapien, pharetra eu enim ac, hendrerit tempus purus. Praesent egestas odio sit amet nisl lobortis dictum sed in justo. Suspendisse enim mi, mattis id nisl id, laoreet hendrerit mi. Maecenas eu enim et ex convallis dictum. Pellentesque convallis, tellus ut vestibulum luctus, metus neque bibendum tortor, sit amet hendrerit metus elit ultricies neque. Aliquam ut purus nibh. Praesent non justo commodo enim ullamcorper varius ac eget tellus. </p>
							<p> Nam tincidunt bibendum libero, vitae pharetra justo ullamcorper in. In at malesuada nibh. Vestibulum semper eleifend ligula et viverra. Ut sit amet nulla sed tortor dignissim suscipit ut nec dolor. Aliquam tristique facilisis lorem, varius malesuada dui varius ac. Nunc sed convallis magna, vitae auctor lectus. Donec efficitur, mi quis bibendum tempus, est risus interdum erat, nec mattis odio felis id enim. Donec eu felis nulla. Praesent et sem nunc. Sed sit amet sem scelerisque libero iaculis euismod ac nec lectus. Morbi bibendum, magna nec hendrerit egestas, turpis nisi lacinia mi, eu consequat sapien tortor id ligula. </p>
						</div>
					</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!--<div id="innerCont">
		<h1 style="text-align: center;">Steps</h1>
		<hr>	
		<div class="row" style="min-height: 200px;">
			<div class="col-md-8">
				<div id="buttonbar" class="buttonbar">
					<button onclick='addfunnel()'>+ Add Funnel</button>
				</div>
				<div id="stepBox" style="display: none;">
					<input type="text" placeholder="Funnel Title" id='funnelTitle'>
					<button id='addFunnel' class='purplebutton'>+ Add Funnel</button>
					<button id='cancelFunnel'>Cancel</button>
				</div>
				<div id="inside">
				
				
				</div>
			</div>
			
			<div class="col-md-4">
				<div id="buttonbar2" class="buttonbar">
					
				</div>
				<div id="insideProd">
				
				
				</div>
			</div>
		</div>
	</div>-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});


	$('.app_item').click(function(){
			$('.app_item').removeClass('active');
			$(this).addClass('active');
		});

	
</script>
</body>
</html>