<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	<link rel="stylesheet" href="/views/global.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>
<body>
	<a class='slink' href="/">Home</a>
	<div id="reglog" class="dbox">
	
		<div class="field"><h1>Reset Password</h1></div>
		
		
		<span id='resError' class="error"></span>
		<form id="resform">
			<div class="field">
				<div class="field_label">Your Email</div>
				<div class="field_input"><input type="text" name='email' id="email"></div>
			</div>
		<br>
		<button class='black_button central' type="submit" id="submit">Send Email</button>
		</form>
		
	</div>
	
<script>
	document.getElementById("resform").onsubmit = function(e){
		e.preventDefault();
		$.post('/api/auth/recover',{email:$('#email').val()},function(data,status,xhr){
			alert(status+' : '+data.responseText);
		}).fail(function(data,status,xhr){
			alert(status+' : '+data.responseText);
		});
	}
</script>
</body>
</html>