<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
<head>
	
	<title>Overview - Shyro</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link href="/views/gfx/fonts/flaticon.css" rel="stylesheet" type="text/css" />
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/views/global.css">
	<link href="/views/gfx/fonts/flaticon.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
	<!--<div style="height: 100px"><a class='slink' id='logout'><button>Logout</button></a></div>-->
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<% if(popup == 1){ %>
	<div class="signupOverlay">
		<div class="signupBox" id='signup_step1'>
			<h4>Sign Up : Step 1</h4>
			<h1>Select Plan</h1>
			<div class="spacer30"></div>
			<div class="planbox">
						<h2>PREMIUM</h2>
						<h4>Monthly Package</h4>
						<ul>
							<li><i class="fas fa-check greenlight"></i> Access to marketplace</li>
				            <li><i class="fas fa-check greenlight"></i> List in Marketplace</li>
				            <li><i class="fas fa-check greenlight"></i> Product Highlight</li>
				            <li><i class="fas fa-check greenlight"></i> Custom Order Bumps</li>
				            <li><i class="fas fa-check greenlight"></i> Product Split-Test</li>
				            <li><i class="fas fa-check greenlight"></i> Custom Video Overlay</li>
				            <li><i class="fas fa-check greenlight"></i> Shyro Pay</li>
				            <li><i class="fas fa-check greenlight"></i> Quantity Selector</li>
				            <li><i class="fas fa-check greenlight"></i> Product Variants</li>
				            <li><i class="fas fa-check greenlight"></i> Smart Currency</li>
				            <li><i class="fas fa-check greenlight"></i> Abandoned Checkout (Soon)</li>
				            <li><i class="fas fa-check greenlight"></i> Advanced Facebook Tracking (Soon)</li>
				            <li><i class="fas fa-check greenlight"></i> 24/7 Customer Support</li>
						</ul>
						<button class="black_button choose_plan" data-plan='PREMIUM' data-renews='Renews at 27.99$/month'>Start 30 Day Free Trial</button>
						<h5>Free Trial ends in 30 days or upon reaching 1000$ in revenue</h5>
					</div>
			<!--<div class="row">
				<div class="col-md-6">
					<div class="planbox">
						<h2>STARTER</h2>
						<h4>Monthly Package</h4>
						<ul>
							<li><i class="fas fa-check greenlight"></i> Access to marketplace</li>
				            <li><i class="fas fa-check greenlight"></i> List in Marketplace</li>
				            <li><i class="fas fa-check greenlight"></i> Product Highlight</li>
				            <li><i class="fas fa-check greenlight"></i> Custom Order Bumps</li>
				            <li><i class="fas fa-check greenlight"></i> Product Split-Test</li>
				            <li><i class="fas fa-check greenlight"></i> Custom Video Overlay</li>
				            <li><i class="fas fa-times redlight"></i> Shyro Pay</li>
				            <li><i class="fas fa-times redlight"></i> Quantity Selector</li>
				            <li><i class="fas fa-times redlight"></i> Product Variants</li>
				            <li><i class="fas fa-times redlight"></i> Smart Currency</li>
				            <li><i class="fas fa-times redlight"></i> Abandoned Checkout (Soon)</li>
				            <li><i class="fas fa-times redlight"></i> Advanced Facebook Tracking (Soon)</li>
				            <li><i class="fas fa-check greenlight"></i> 24/7 Customer Support</li>	
						</ul>
						<button class="black_button choose_plan" data-plan='STARTER' data-renews='Renews at 5.99$/month'>Start 7 Day Free Trial</button>
						<h5>Renews at 5.99$/month</h5>
					</div>
				</div>
				<div class="col-md-6">
					<div class="planbox">
						<h2>PREMIUM</h2>
						<h4>Monthly Package</h4>
						<ul>
							<li><i class="fas fa-check greenlight"></i> Access to marketplace</li>
				            <li><i class="fas fa-check greenlight"></i> List in Marketplace</li>
				            <li><i class="fas fa-check greenlight"></i> Product Highlight</li>
				            <li><i class="fas fa-check greenlight"></i> Custom Order Bumps</li>
				            <li><i class="fas fa-check greenlight"></i> Product Split-Test</li>
				            <li><i class="fas fa-check greenlight"></i> Custom Video Overlay</li>
				            <li><i class="fas fa-check greenlight"></i> Shyro Pay</li>
				            <li><i class="fas fa-check greenlight"></i> Quantity Selector</li>
				            <li><i class="fas fa-check greenlight"></i> Product Variants</li>
				            <li><i class="fas fa-check greenlight"></i> Smart Currency</li>
				            <li><i class="fas fa-check greenlight"></i> Abandoned Checkout (Soon)</li>
				            <li><i class="fas fa-check greenlight"></i> Advanced Facebook Tracking (Soon)</li>
				            <li><i class="fas fa-check greenlight"></i> 24/7 Customer Support</li>
						</ul>
						<button class="black_button choose_plan" data-plan='PREMIUM' data-renews='Renews at 27.99$/month'>Start 7 Day Free Trial</button>
						<h5>Renews at 27.99$/month</h5>
					</div>
				</div>
			</div>
			<button class="black_button orange2 choose_plan" data-plan='FREE (MARKETPLACE)' data-renews=''>No, I just want the marketplace</button>-->
		</div>
		<div class="signupBox" id='signup_step2' style="display: none;">
			<h4>Sign Up : Step 2</h4>
			<h1>Billing Information</h1>
			<div class="spacer30"></div>
			<div class="row">
				<form action="" id="billing_form">
					<div class="field">
						<div class="field_label">Chosen Shyro Plan</div>
						<div class="field_input"><input type="text" name='plan' id="b_plan" disabled="" value="STARTER"></div>
					</div>
					<div class="field">
						<div class="field_label">Address</div>
						<div class="field_input"><input type="text" name='address' id="b_address" ></div>
					</div>
					<div class="field">
						<div class="field_label">City</div>
						<div class="field_input"><input type="text" name='city' id="b_city" ></div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="field_label">State / Province</div>
							<div class="field_input"><input type="text" name='state' id="b_state"></div>
						</div>
						<div class="col-md-6">
							<div class="field_label">Zip Code</div>
							<div class="field_input"><input type="text" name='zip' id="b_zip"></div>
						</div>
						
					</div>
					<div class="field">	</div>
					<div class="row">
						<div class="col-md-6">
							<div class="field_label">Country</div>
							<div class="field_input"><input type="text"  name='country' id="b_country"></div>
						</div>
						<div class="col-md-6">
							<div class="field_label">Phone Number</div>
							<div class="field_input"><input type="text"  name='phone' id="b_phone"></div>
						</div>
						
					</div>
				</form>
				<button class="black_button orange3" id='back1'>Back to Plans</button>
				<button class="black_button orange2" id='next2'>Continue to Payment</button>
			</div>

		</div>
		<div class="signupBox" id='signup_step3' style="display: none">
			<h4>Sign Up : Step 3</h4>
			<h1>Payment</h1>
			<div class="spacer30"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="planbox">
						<h4>Billing Information</h4>
						<ul>
							<li><strong>Adress : </strong><span class='info_prev' data-from="b_address" id='c_address'></span></li>
							<li><strong>City : </strong><span class='info_prev' data-from="b_city" id='c_city'></span></li>
							<li><strong>State / Province : </strong><span class='info_prev' data-from="b_state" id='c_state'></span></li>
							<li><strong>Zip Code : </strong><span class='info_prev' data-from="b_zip" id='c_zip'></span></li>
							<li><strong>Country : </strong><span class='info_prev' data-from="b_country" id='c_country'></span></li>
							<li><strong>Phone : </strong><span class='info_prev' data-from="b_phone" id='c_phone'></span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="planbox">
						<img src="/views/gfx/paypal.png" class='std_img' alt="">
						<h4 style="text-align: center; margin-top: 10px;">Total to pay now : $0</h4>
						<h4 id='renews_text' style="text-align: center; margin-top: 10px; margin-bottom: 25px;"></h4>
						<button id='starttrial'>Start Free Trial</button>
					</div>
				</div>
				<button class="black_button orange3" id='back2'>Back to Billing</button>
			</div>
			
		</div>
	</div>
	<% } %>
	<div class="sidebar_container">
		<%- include('snippets/sidebar'); %>
	</div>
	<div id="page_wrapper">
		
		<div class="row">
			<div class="col-md-8 center_page">
				<div class="inside">
					<div class="welcome_box">
						<h4>Hi <span class="full_name">John Doe</span>,</h4>
						<h1>Welcome back !</h1>
					</div>
					<div class="announce">

					</div>
					<div class="dbox" style="margin-top: 40px;">
						<h5 style="text-align: center;">Analytics coming very soon...</h5>
					</div>
					<div class="dbox" style="margin-top: 40px; padding-bottom: 30px; display: none;">
						<div class="an_flex">
							<div class="an_details">
								<div class="an_head">
									<div class="an_icon"><i class="fas fa-dollar-sign"></i></div>
									<div class="an_text">Revenue</div>
								</div>
								<div class="an_counter">$2.1k</div>
								<div class="an_indicator">
									<div class="an_progress" style="width: 55%"></div>
								</div>
							</div>
							<div class="an_details">
								<div class="an_head">
									<div class="an_icon blue"><i class="fas fa-shopping-cart"></i></div>
									<div class="an_text">Orders</div>
								</div>
								<div class="an_counter">54</div>
								<div class="an_indicator">
									<div class="an_progress blue" style="width: 55%"></div>
								</div>
							</div>
							<div class="an_details">
								<div class="an_head">
									<div class="an_icon pink"><i class="fas fa-user"></i></div>
									<div class="an_text">Visitors</div>
								</div>
								<div class="an_counter">198</div>
								<div class="an_indicator">
									<div class="an_progress pink" style="width: 55%"></div>
								</div>
							</div>
							<div class="an_details">
								<div class="an_head">
									<div class="an_icon orange"><i class="fas fa-plus"></i></div>
									<div class="an_text">Optins</div>
								</div>
								<div class="an_counter">111</div>
								<div class="an_indicator">
									<div class="an_progress orange" style="width: 55%"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="dbox" style="margin-top: 20px; background-color: #FFEBF6; padding: 10px; display: none;">
						<h2 style="padding: 20px;">Revenue ($)</h2>
						<div id="chart" style="background-color: #FFF; border-radius: 18px;"></div>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="rightbar" style="padding: 0;padding-right: 30px; padding-top: 30px; ">
					<div class="navbar">
						
					</div>
					<div class="logs dbox">
						<h2>Update Logs</h2>
						<div class="content_logs" style="color:#BACA63;background-color: #1D1E22; border-radius: 18px; margin-top: 30px;height: 410px;padding: 10px;font-weight: 100;font-size: 14px;">
							5/1/2021 : Added funnel analytics and account analytics.<br>
							5/8/2021 : Added funnel analytics and account analytics.<br>
						</div>
					</div>
					<div class="affiliate dbox" style="margin-top: 30px;padding-bottom: 15px;display: none;">
						<h2>Affiliate Earnings</h2>
						<div id="chart2" style="background-color: #FFF; border-radius: 18px; margin-left: -20px; margin-top: 20px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	$('.choose_plan').click(function(){
		$('#b_plan').val($(this).data('plan'));
		$('#renews_text').html($(this).data('renews'));
		$('#signup_step1').hide();
		$('#signup_step2').fadeIn(1000);
	});
	
	$('#back1').click(function(){
		$('#signup_step2').hide();
		$('#signup_step1').fadeIn(1000);
	});

	$('#next2').click(function(){
		$('.info_prev').each(function(index){
			$(this).html($("#"+$(this).data('from')).val());
		});
		$('#signup_step2').hide();
		$('#signup_step3').fadeIn(1000);
	});

	$('#back2').click(function(){
		$('#signup_step3').hide();
		$('#signup_step2').fadeIn(1000);
	});

	$('#starttrial').click(function(){
		startFreeTrial(function(err,data){
            if(!err) {
                window.location.reload();
            }else{
                console.log(err);
            }
        });
	});

</script>
<script>
var options = {
  chart: {
    type: 'line',
    toolbar: {
        show: false},
    height:300

  },
  stroke: {
	  curve: 'smooth',
	},
	colors:['#6C5DD3'],
  series: [{
    name: 'Revenue ($)',
    data: [30,40,35,50,49,60,70,91,125,99,56,30]
  }],
  xaxis: {
    categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul', 'Aug','Sept','Oct','Nov','Dec']
  }
}

var options2 = {
	chart: {
    type: 'bar',
    toolbar: {
        show: false},
    height:300

  },
  stroke: {
	  curve: 'smooth',
	},
	colors:["#A0D7E7"],
  series: [{
    name: 'Revenue ($)',
    data: [30,40,35,50,49,60,70,91,125,99,56,30]
  }],
  dataLabels:{
  	enabled:false
  },
  xaxis: {
    categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul', 'Aug','Sept','Oct','Nov','Dec']
  }
}

var chart = new ApexCharts(document.querySelector("#chart"), options);
var chart2 =  new ApexCharts(document.querySelector("#chart2"), options2);
chart.render();
chart2.render();
</script>
<%- include('snippets/livechat'); %>
</body>
</html>