@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:300,400,500,600|Inter:300,400,500,600|Montserrat:100,300,500,700');
html,body{
	margin: 0;
	padding: 0;
	font-family: 'Inter';
	color: #808191;
	overflow-x: hidden;
}
body{
	background-color: #F1F3F5;
}
h3{
	font-weight: 300;
	text-align: center;
}
h1{
	font-weight: 900;
	font-family: 'Inter';
	color: black;
	text-align: center;
}
#reglog{
	width: 30%;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 5px;
	margin-top: 40px;
	border-radius: 20px;
	margin-bottom: 40px;
}
.black_button.central{
	display: block;	
	margin: 0 auto;	
}
.black_button.orange{
	background-color: #FF754C;
	display: block;
	margin:0 auto;
	width: 210px;
	margin-bottom: 10px;
	padding: 10px;
	position: absolute;
	bottom: 90px;
	left: 32px;
}
#logform,#regform{
	padding-bottom: 30px;	
	border-bottom: 1px solid #E4E4E4;
	margin-bottom: 30px;	
}
.field_label{
	margin-bottom: 16px;
	font-size: 12px;
	line-height: 1.33333;
	font-weight: 500;
	color: #B2B3BD;
}
.field{
	display: block;
	margin: 0 auto;
	
	margin-bottom: 20px;	
}
.field h1{
	margin-top: 30px;	
	font-size: 30px;
}
.field_input>input{
	height: 56px;
	padding: 0 23px !important;
	border-radius: 8px !important;
	border-radius: 8px;
	background: rgba(228, 228, 228, 0.3);
	border: 2px solid transparent;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #11142D;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	width: 100%;	
}
.field_input>textarea{
	height: 100px;
	padding: 10px 10px !important;
	border-radius: 8px !important;
	border-radius: 8px;
	background: rgba(228, 228, 228, 0.3);
	border: 2px solid transparent;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #11142D;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	width: 100%;
	resize: none;
}
.spacing{
	height: 35px;
}
#log,#reg{
	margin: 0 auto;
}
.slink{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 300;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	float: left;
}
#lobbies{
	margin: 0;
}
input[type=text],input[type=password],select{
	display: inline-block;
	padding: 14px;
	background-color: #F7F7F7;
	border: none;
	font-family: 'Inter';
	font-weight: 500;
	border-radius: 15px;
	border: 2px solid #F7F7F7;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	font-size: 14px;
	font-weight: 400;

}
input[type=text]:focus,input[type=password]:focus,select:focus{
	border: 2px solid #6C5DD3;
	background-color: transparent;
}

#chatbox{
	
}
button{
	display: block;
	padding: 10px;
	width: 200px;
	margin: 5px auto;
	border: none;
	background-color: #6079E6;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 500;
	
	border-radius: 11px;
}
.leader{
	color: 'green';
}
#lobbies>a{
	display: block;
	padding: 20px 25px;

	background-color:#FAFAFA;
	color: #44484A;
	width: 80%;
	margin: 0px auto;
	list-style: none;
	text-decoration: none;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	margin-bottom: 8px;
}
#lobbies>a:hover{
	background-color: #EEEEEE;
}

#chatbox{
	width: 600px;
	height: 300px;
	overflow-y: scroll;
	margin: 0 auto;
	display: block;
	padding: 14px;
	background-color: #FFF;
	border: none;
	color: #44484A;
	font-family: 'Montserrat';
	font-weight: 500;
}
#chatInput{
	width: 580px;
	background-color: #FFF;
}
.listinfo{
	color: #44484A;
	font-weight: 100;
	font-size: 13px;
	float: right;
	padding-top: 2px;
}
#timer{
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 10px;
}
#turnAnnounce{
	text-align: center;
	margin: 0;
	padding: 0;
}
#gameDiv{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
#gameDiv>canvas{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	background-color: #FFF;
}

.color{
	width: 32px;
	height: 32px;
	display: inline-block;
}
.progress{

}
.h2{
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	margin-top: -15px;
	margin-left: 10px;
	width: 100px;
}
.h2_2{
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	margin-top: -15px;
	margin-left: 10px;
}
#sidepanel{
	position: absolute;
	top:100px;
	left:10px;
	z-index: 60;
	color:black;
}
#overlay{
	z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/views/gfx/overlay.png') 50%/cover no-repeat;
    pointer-events: none;
}
#ingamechatbox{
	z-index: 60;
	position: absolute;
	bottom: 0;
	left: 8px;
	width: auto;
	height: auto;
}
#ingamechatbox>#chatbox{
	background-color: rgba(255,255,255,0.5);
	width: 200px;
}
#ingamechatbox>#chatForm>#chatInput{
	background-color: rgba(255,255,255,0.5);
	width: 200px;
}
#ingamechatbox>#chatForm>#chatInput:focus{
	background-color: rgba(255,255,255,1);
}
#ingamechatbox>#chatForm>#chatSubmit{
	display: none;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
#ingamechatbox>#chatbox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#ingamechatbox>#chatbox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
#coord{
	z-index: 60;
	font-size: 25px;
	position: absolute;
	top: 8px;
	left: 8px;
	width: auto;
	height: auto;
}
#realOverlay,#realOverlay2{
	z-index: 70;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#000;
    opacity: 0.5;
    display: none;
}
#realOverlay2{
	z-index: 75;
}
#saveContainer,#createContainer,#mapContainer,#endgameContainer,#stepContainer{
	z-index: 80;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	display: none;
	pointer-events: none;
}
#mapContainer{
	z-index: 90;
}
#saveBox,#mapBox,#endgameBox{
	background-color: white;
	margin: 0 auto;	
	margin-top: 100px;
	width: 400px;
	padding: 30px 0;
	pointer-events: auto;
}

#saveBox>input,#mapBox>input{
	margin-bottom: 20px;
}

.mapItem{
	display: block;
	padding: 20px 25px;

	background-color:#FAFAFA;
	color: #44484A;
	width: 80%;
	margin: 0px auto;
	list-style: none;
	text-decoration: none;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	margin-bottom: 8px;
	cursor: pointer;
}
.mapItem:hover{
	background-color: #EEEEEE;
}
#maps{
	height: 300px;
	overflow-y: scroll;
}
#podium{
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
#endgameBox>h2{
	text-align: center;
}
#editorBox{
	position: absolute;
	bottom: 0;
	right: 8px;
	z-index: 50;
}
#toolContainer{
	z-index: 60;
	position: absolute;
	bottom: 8px;
	left: 8px;
	width: auto;
	height: auto;
}
#toolDesc{
	background-color: rgba(255,255,255,0.5);
	width: 249px;
	height: 78px;
	margin-bottom: 8px;
	padding: 5px;
}
#toolBox{
	background-color: rgba(255,255,255,0.5);
	width: 247px;
	height: 400px;
	padding: 6px;
}
.tool{
	display: inline-block;
	width: 70px;
	height: 70px;
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	margin: 4px;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}
.tool:hover{
	background-color: rgba(0,0,0,0.3);
}
.tool>img{
	display:block;
	width: 34px;
	height: 34px;
	margin: 18px;
	-webkit-transition: 300ms all;
	-o-transition: 300ms all;
	transition: 300ms all;
}
.activeTool{
	background-color: #4AA3DF;
}
.activeTool>img{
	width: 44px;
	height: 44px;
	margin: 13px;
}
.activeTool:hover{
	background-color: #4AA3DF;
}

#toolDesc>.desc{
	display: inline-block;
	vertical-align: top;
	margin:5px;
}
.desc>h3{
	margin: 0;
	font-weight: 500;
	font-size: 17px;
	width: 150px;
	text-align: left;
}

.desc>p{
	margin: 0;
	width: 150px;
	font-weight: 300;
	font-size: 13px;
	padding-top: 4px;
}

#invContainer{
	z-index: 60;
	position: absolute;
	bottom: 8px;
	width: 100%;
	height: auto;
	pointer-events: none;
}
#invBox{
	background-color: rgba(255,255,255,0.7);
	width: 490px;
	height: 78px;
	padding: 6px;
	margin: 0 auto;
	pointer-events: all;
}

#descContainer{
	z-index: 60;
	position: absolute;
	bottom: 8px;
	width: 100%;
	height: 88px;
	pointer-events: none;
}
#descBox{
	pointer-events: all;
	float: right;
	margin-right: 8px;
	vertical-align: bottom;	
}

#goldContainer{
	z-index: 60;
	position: absolute;
	bottom: 54px;
	width: 100%;
	height: 88px;
	pointer-events: none;
}
#goldBox{
	pointer-events: all;
	float: right;
	margin-right: 8px;
	vertical-align: bottom;
	background-color: rgba(255,255,255,0.5);
	width: 249px;
	height: 28px;
	margin-bottom: 8px;
	padding: 5px;
}
#goldBox>h2{
	margin: 0;	
	padding: 2px;	
	font-weight: 300;
	text-align: center;
	font-size: 20px;	
}

#script,textarea[disabled],#bumpCode{

	display: block;
	padding: 5px;
	width: 90%;
	margin: 5px auto;
	background-color: #EEEEEE;
	border: none;
	color: #44484A;
	font-family: 'Montserrat';
	font-weight: 500;
	resize: none;
	margin-top: 15px;
	height: 80px;
	border-radius: 10px;
	background-color: transparent;
	font-size: 12px;
	border: 2px solid #8B97AE;
	color: #EEE;

}
.inp90{
	width: 90%;
}
.eximg{
	width: 100%;
}
.sttl{
	margin: 10px 20px;
	padding: 10px;
	font-weight: 400;
	font-size: 20px;
	background-color: #1D273A;
	border-radius: 20px;
	height: auto;
	margin-right: 0;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	cursor: pointer;
	border: 2px solid #1D273A;
}
.pttl{
	margin: 10px 20px;
	padding: 10px;
	font-weight: 400;
	font-size: 20px;
	background-color: #1D273A;
	border-radius: 20px;
	height: auto;
	margin-right: 0;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	cursor: pointer;
	border: 2px solid #1D273A;
}

.minibutton{
	display: block;
	float: right;
	vertical-align: top;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	letter-spacing: 1px;
	width: auto;
	margin-left: 5px;
	background-color: #6E3DC8;
}
.bumpscript{
	height: 55px !important;
	border-radius: 10px;
	background-color: transparent !important;
	font-size: 12px;
	border: 2px solid #8B97AE !important;
	color: #EEE !important;
}
#innerCont{
	background-color: #212C42;
	min-height: 200px;
	border-radius: 40px;
	padding: 30px 40px;
	padding-right: 20px;
}
.buttonbar>button{
	display: inline-block;	
}
.buttonbar{
	padding: 5px 20px;
}
hr{
	border-top: 1px solid #192233;
}
#inprods{
	background-color: #1D273A;
	min-height: 150px;
	border-radius: 20px;
}
#inprods>h3,h3{
	font-family: 'Nunito';
	font-weight: 900;
	font-size: 25px;padding: 10px;
	letter-spacing: 0.5px;
}
#stepBox input[type=text], #stepBox select{
	display: inline-block;
	margin-right: 3px;
	margin-left: 3px;
	width: 200px;
}
#createBox input[type=text], #createBox select{
	display: inline-block;
	margin-right: 3px;
	margin-left: 3px;
	width: 200px;
}
#bumpBox input[type=text], #bumpBox select{
	display: inline-block;
	margin-right: 3px;
	margin-left: 3px;
	width: 200px;
}
#stepBox,#createBox,#bumpBox{
	text-align: center;
	background-color: #1D273A;
	border-radius: 20px;
	padding: 10px;	
	margin-left: 20px;
}
.purplebutton{
	background-color: #6E3DC8;
}
.sttl:hover{
	background-color: #1C2536;
}
.sttl_selected{
	border: 2px solid #DB6AB5;
}
.sttdesc{
	font-size: 	15px;
	color: #707D96;
	padding-left: 20px;
}
.infobutton{
	cursor: initial !important;
	background-color: #1D273A;
	border: 3px solid #707d96;
}
.custombump{
	float: none !important;
	display: block;
	margin: 0 auto;
}
#bumpBox h3{
	margin: 0;
	font-size: 18px;
}
#bumpCode{
	margin-top: 5px;
	margin-bottom: 17px;
}
#sidebar{
	
	width: 285px;
	height: 100vh;
	
	overflow-y: scroll;

}
.sidebar_container{
	width: 268px;
	overflow: hidden;
	position: fixed;
	border-right: 1px solid #E4E4E4;
	height: 100vh;
}
#page_wrapper{
	padding-left: 300px;

}
#sidebar_logo{
	padding-top: 30px;
	padding-bottom: 30px;
}
#sidebar_menu{
	padding: 20px;
	padding-right: 40px;
}
#sidebar_menu>h4{
	color:#808191;
	font-size: 12px;
	font-family: 'Inter';
	font-weight: 500;
	padding-left: 20px;
	padding-bottom: 10px;
}
#sidebar_menu .item{
	padding: 18px;
	border-radius: 12px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	font-family: 'Poppins';
}
#sidebar_menu .item:hover{
	color: #6C5DD3;
}
#sidebar_menu .item:hover .icon{
	color: #6C5DD3;
}
#sidebar_menu .active_item{
	background-color: #6C5DD3;
	color:white;
}
#sidebar_menu .active_item:hover{
	color:white;
}
#sidebar_menu .active_item:hover .icon{
	color:white;
}
#sidebar_menu .active_item .icon{
	color:white !important;
}
#sidebar_menu .item .icon{
	margin-right: 16px;
	font-size: 17px;
	color: #BBBCBD;
}
#maincont{
	padding: 0;
}
#bgoverlay{
	
}
#page_wrapper .center_page>.inside{
	min-height: 90vh;
	height: auto;
	border-radius: 50px;
}

.inside{
	padding: 60px;
}
.welcome_box{
	
}
.welcome_box h4{
	text-align: left;
	color: black;
	font-weight: 300;
	font-family: 'Montserrat';
}
.welcome_box h1{
	text-align: left;
	font-family: 'Montserrat';
}
.announce{
	height: 300px;
	background-color: #6C5DD3;
	border-radius: 25px;
	margin-top: 40px;
	box-shadow: 8px 10px 0 #CFC8FF;
	padding: 30px;
}
.announce h2{
	color: white;
	font-family: 'Inter';
	font-weight: 600;
}
.announce p{

}
.rightbar{
	padding: 30px;
	
}
.rightbar h2{
	color: black;
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 500;
}
.navbar{
	height: 150px;
}
.funnels{
	padding-top: 30px;
}
.black_button{
	display: inline-block;
	background-color: #1B1D21;
	border-radius: 16px;
	color: white;
	font-family: 'Inter';
	font-weight: 600;
	padding: 16px 30px 16px 30px;
	cursor: pointer;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
}
.black_button:hover{
	background-color: #6C5DD3;
}
.standard_input{
	color: black;
	background-color: #fff !important;
}
#addFunnelBox,#addStepBox{
	padding-bottom: 15px;
}

#myf{
	padding-right: 30px;
}

#myfunnels{
	margin-top:20px;
}
.funnel_item{
	padding: 20px 16px;
	display: flex;
	cursor: pointer;
	border-radius: 16px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	margin-top: 22px;
}
.funnel_item:first-child{
	margin-top: 0;	
}
.funnel_item:hover .f_title{
	color: #6C5DD3;
}
.active_funnel:hover .f_title{
	color: #000;
}
.active_funnel{
	background-color: #FFEBF6;
}

.funnel_item.blue {
	background-color: rgb(207, 235, 243, 0.3);
}
.funnel_item.yellow {
	background-color: rgb(255, 240, 213, 0.3);
}
.funnel_item.purple {
	background-color: rgb(231, 227, 255, 0.3);
}

.active_funnel.blue {
	background-color: rgb(207, 235, 243, 1);
}
.active_funnel.yellow {
	background-color: rgb(255, 240, 213, 1);
}
.active_funnel.purple {
	background-color: rgb(231, 227, 255, 1);
}

.f_icon{
	width: 88px;
	height: 88px;
	background-color: #3F8CFF;
	border-radius: 12px;
	margin-right: 16px;
}
.f_icon>img{
	width: 100%;
}
.f_buttons button, .fbutton{
	display: inline-block;
	width: auto;
	padding: 8px 15px;
	background-color: #E4E4E4;
	color: black;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Inter';
	border-radius: 16px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	margin-right: 5px;
	cursor: pointer;
}
.f_buttons button:hover,.fbutton:hover{
	background-color: black;
	color: #FFF;
}

.delete_btn{
	background-color: #E04A3A !important;
	color: #FFF !important;
}
.delete_btn:hover{
	background-color: #A63126 !important;
	color: #FFF !important;
}
.f_title{
	font-size: 16px;
	font-weight: 600;
	color:black;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
}
.f_caption{
	color:#808191;
	font-size: 12px;
	font-weight: 500;
}
.f_caption2{
	color:#808191;
	font-size: 12px;
	font-weight: 500;
	margin-top: 23px;
}

.f_details,.f_details2{
	flex: 0 33.33%;
}
.f_details2{
	text-align: right;
	padding-right: 30px;	
}
.flex{
	display: flex;	
	flex-grow: 1;
}
.textcenter{
	text-align: center !important;	
}
.f_title.f_title_info{
	color: #555;
}
.back_button{
	display: block;
	width: auto;
	padding: 8px 15px;
	background-color: #E4E4E4;
	color: black;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Inter';
	border-radius: 16px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	margin-left: 0px;
	margin-top: -25px;
	margin-bottom: 15px;
}
.back_button:hover{
	background-color: black;
	color: #FFF;
}

.select_type{
	display: flex;
	padding: 3px;
	border-radius: 12px;
	border: 1px solid #E4E4E4;
	margin-top: 10px;
	font-family: 'Inter';
	font-size: 12px;
	width: 500px;
}
.select_tab{
	flex: 0 0 33.333%;
	padding: 8px;
	text-align: center;
	border-radius: 12px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	cursor: pointer;
}
.select_tab.active{
	background-color: #6C5DD3;
	color: white;
}
.select_tab.active:hover{
	background-color: #6C5DD3;
	color: white;
}
.select_tab:hover{
	color: #6C5DD3;
}
.select_icon{
	font-size: 20px;
}

.step_item{
	display: flex;	
	padding: 10px 16px;
	width: 100%;
	display: flex;
	cursor: pointer;
	border-radius: 16px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	margin-bottom: 24px;

}
.s_details{
	flex-grow:1;
	overflow: hidden;

}
.step_item.purple .s_icon{
	background-color: #CFC8FF;
}
.step_item.cyan .s_icon{
	background-color: #A0D7E7;
}
.step_item.yellow .s_icon{
	background-color: #FFE2AC;
}
.step_item:hover .s_title, .step_item:hover .s_icon, .step_item:hover .s_iconcap{
	color: #6C5DD3;
}
.step_item.active:hover .s_title, .step_item.active:hover .s_icon, .step_item.active:hover .s_iconcap, .step_item.active:hover .s_caption{
	color: #FFF;
}
.step_item.active .s_title, .step_item.active .s_icon, .step_item.active .s_iconcap, .step_item.active .s_caption{
	color: #FFF;
}
.step_item.active{
	background-color: #6C5DD3;
	color: white;
	box-shadow: 0px 5px 0 #CFC8FF;
}
.step_item.active .s_icon{
	background-color: transparent;
}

.s_icon{
	min-width: 88px;
	width: 88px;
	height: 70px;
	background-color: #FFEBF6;
	border-radius: 12px;
	margin-right: 16px;
	color:#11142D;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;	
	font-size: 28px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;	
}

.icc{
	float: right;
	font-size: 12px;
	margin-right: 20px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;	
}
.step_item.active .icc{
	margin-right: 0;	
}
.s_iconcap{
	font-size: 12px;
	font-weight: 500;
	font-family: 'Inter';
	color: #808191;
	margin-bottom: -1px;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
}
.s_title{
	
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	color:black;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
}
.s_caption{
	color:#808191;
	font-size: 12px;
	font-weight: 500;
}

#products{
	padding: 0;
}
#products h2{
	font-size: 18px;
	font-family: 'Poppins';
	font-weight: 500;
	color: #000;
}
.prod_table{
	display: table;
	width: 100%;
}
.prod_headrow, .prod_row{
	display: table-row;

}
.prod_cell{
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #E4E4E4;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 1.71429;
	color: #11142D;
}
.prod_headrow .prod_cell{
	padding-top: 17px;
	padding-bottom: 17px;
	font-size: 13px;
	line-height: 1.38462;
	font-weight: 500;
	color: #B2B3BD;
}

.prod_row{
	cursor: pointer;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
}
.prod_row.active{
	background-color: #E2F3F8;
}

.dbox{
	padding: 32px 32px 38px;
	background-color: #ffffff;
	border-radius: 24px;
}

#myapps{
	margin-top: 50px;
}
#applist h2{
	font-size: 18px;
	font-family: 'Poppins';
	font-weight: 500;
	color: #000;
}
.app_item{
	display: flex;
	margin-top: 25px;
	cursor: pointer;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	border-radius: 12px;
	padding: 10px;
}
.app_item:hover{
	background-color: #F5F6F9;
}
.app_item.active{
	background-color: #6C5DD3;
}
.app_item.active .app_title{
	color: white;
}
.app_item.active .app_caption{
	color: white;
}
.app_icon{
	width: 48px;
	height: 48px;
	border-radius: 12px;
	font-size: 32px;
	text-align: center;
	
}
.app_icon.blue{
	background: rgba(160, 215, 231, 0.3);
	color: rgba(160, 215, 231);
}
.app_icon.yellow{
	background: rgba(255, 206, 115, 0.3);
	color: rgba(255, 206, 115);
}
.app_icon.pink{
	background: rgba(255, 162, 192, 0.3);
	color: rgba(255, 162, 192);
}

.app_title{
	font-size: 16px;
	font-weight: 600;
	color: #000;
	font-family: 'Inter';
}
.app_caption{
	font-size: 12px;
	font-weight: 500;
	color:#808191;
}
.app_details{
	flex-grow: 1;
	margin-left: 12px;
}
#app_desc h1{
	text-align: left;
	font-size: 35px;
	margin-bottom: 20px;
}
#app_desc p{
	font-size: 14px;
	font-weight: 300;
	font-family: 'Inter';
}

.boxed{
	position: fixed;
	width: 98vw;
	height: 98vh;
	opacity: 0.5;
	background-color: white;
	top: 1vh;
	left:1vh;
	z-index: 9;
}
#logcont{
	z-index: 10;
}

.box_2{
	display: inline-block;
	vertical-align: top;
	border-radius: 16px;
	border: 1px solid #E4E4E4;
	padding: 20px;
	max-width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 500px;
}
.box_2 .f_buttons{
	margin-top: 15px;
}
.box_2 .row{
	margin-bottom: 15px;
}

.box_3{
	display: block;	
	background: #FFF;
}
.box_3 .app_item:first-child{
	margin-top: 0;	
}
#genbox{
	margin-top: 20px;
}

.switchbox{
	padding-right: 10px;
}
#appsBox .app_item:first-child{
	margin-top: 0;
}
#appsBox .app_item{
	margin-top: 10px;
}

#appsBox{
	
}

.editbox{
	visibility: hidden;
}
.editbox .fbutton{
	margin: 0;
	padding: 7px 12px;
	border-radius: 10px;
	font-size: 14px;
	margin-top: 6px;
	margin-right: 10px;
}
.editbox .fbutton:hover{
	background-color: #BBB;
	color: black;
}

#toggleEdit,#deleteStep,#toggleEditProduct,#deleteProduct,#toggleApps,#hideProduct,#toggleSplitTest{
	visibility: hidden;
}
/* /////////// SWITCH W3SCHOOLS CODE /////////////// */

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  margin-top: 13.5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #90C38C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #90C38C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* //////////////// END SWITCH W3SCHOOLS CODE ///////////////////// */

.box_2 h4{
	font-size: 16px;
	font-weight: 600;
	color: #000;
	font-family: 'Inter';
}

#orderBumpCode{
	font-size: 12px;
	background-color: #1D1E22;
	color: #BACA63;
	margin-bottom: 10px;
}
#scriptbody,#scripthead{
	font-size: 13px;
	background-color: #1D1E22;
	color: #BACA63;
	cursor: pointer;
}
#appSettingsBox_2 .field{
	margin-bottom: 0;
}

#var_table .prod_cell, #qty_table .prod_cell{
	padding-top: 10px;
	padding-bottom: 10px;
}
.varbuttons, .qtybuttons{
	text-align: right;
}
.varbuttons .fbutton, .qtybuttons .fbutton{
	padding: 3px 6px;
	border-radius: 2px;
	visibility: hidden;
}
#var_table .prod_row:hover .fbutton, #qty_table .prod_row:hover .fbutton{
	visibility: visible;
}
#q_qty{
	text-align: center;	
	background-color: #f0f0f0;
	color: #666;
	cursor: not-allowed;
}

.f_buttons.smallerbuttons>button{
	border-radius: 4px;
	font-size: 12px;
	padding: 4px 12px;
}
.prev{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 8px;
}
#funnelAppsBox{
	max-width: none;
	width: auto;
}
.tag_{
	font-size: 12px;
	background-color: #EEEEEE;
	padding: 4px 10px;
	border-radius: 4px;
	color: #9C9C9C;
	margin-left: 4px;
	float: right;
}

#sidebar_user{
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px;
	margin: 0 20px;
	height: 62px;
	border-radius: 12px;
	color: #11142D;
	cursor: pointer;
	-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
	margin-bottom: 12px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.04);
box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.04);
position: absolute;
bottom: 10px;
}
#sidebar_user:hover,#sidebar_user.active{
	background: #3F8CFF;
color: #ffffff;
}
#sidebar_user:hover .user_membership,#sidebar_user.active .user_membership{
	color:white;
}
.user_icon{
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	font-size: 0;
}
.user_icon img{
	width: 100%;
	min-height: 100%;
	border-radius: 50%;
}
.user_details{
	-webkit-box-flex: 0;
-ms-flex: 0 0 calc(100% - 64px);
flex: 0 0 calc(100% - 64px);
width: calc(100% - 64px);
padding: 0 5px 0 16px;
}
.user_fullname{
	overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 14px;
line-height: 1.42857;
font-weight: 600;
}
.user_membership{
	font-size: 13px;
font-weight: 600;
line-height: 1.38462;
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
color: #808191;
-webkit-transition: 	400ms all;
	-o-transition: 	400ms all;
	transition: 	400ms all;
}
.user_arrow{
	-ms-flex-negative: 0;
flex-shrink: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
width: 24px;
height: 24px;
}

.prod_row.hidden .prod_cell{
	color: #CCC;
	font-style: italic;
}

#split_url{
	margin-bottom: 15px;
}

#sidebar_userdrop{
	position: relative;
	display: none;
	padding: 20px 10px 15px;
	margin-bottom: -15px;
	background: #EEEEEE;
	border-radius: 12px;
margin: 0 20px;
position: absolute;
bottom: 80px;
width: 230px;
}
#sidebar_userdrop::before{
	content: "";
position: absolute;
top: 8px;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
width: 72px;
height: 4px;
border-radius: 2px;
background: #E1E1E1;
}
.userdrop_link{
	display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
height: 56px;
border-radius: 12px;
font-size: 14px;
font-weight: 600;
color: #808191;
-webkit-transition: all .25s;
-o-transition: all .25s;
transition: all .25s;
cursor: pointer;
}
.userdrop_link:hover{
	background: #ffffff;
-webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.04);
box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.04);
}
.userdrop_icon{
	width: 50px;
	margin: 0;
	padding-right: 6px;
	text-align: center;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.userdrop_text{

}

/*
.varActive{
	background-color: yellow;
	cursor: pointer;
}



body{
	background-color: white !important;
}
.bump2{
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
	border: 3px solid #EEEEEE;
	border-radius: 5px;
	background-color: white;
	color:black;
}
.bump2 img{
	display: inline-block;
	width: 15%;
	margin-left: 7px;
	margin-top: -15px;
}
.bump2 .desc_{
	width: 60%;
	display: inline-block;
	vertical-align: top;
}
.bump2 .smt{
	display: block;
	padding-top: 14px;
	font-weight: bold;
	letter-spacing: -0.2px;
	font-size: 14px;
}
.bump2 .smt2{
	display: block;
	padding-top: 2px;
	font-size: 14px;
	font-weight: 300;
	color:#4AAF59;
}
.bump2 .smt2>strong{
	font-weight: bold;
}
.bump2 p{
	display: block;
	margin: 0;
	padding-top: 2px;
	font-size: 12px;
	font-weight: 400;
	width: auto;
	padding-bottom: 10px;
}
.bump2 .action{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 20%;
	height: 100%;
}
.bump2 button{
	display: inline-block;
	width: auto;
	margin-top: 32px;
	border-radius: 3px;
	border: 1px solid #E0E0E0;
	background-color: white;
	color: #8a8a8a;
	font-weight: bold;
	width: 80%;
	font-size: 15px;
}
