<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>Marketplace - Shyro</title>
	<link rel="shortcut icon" href="/views/favicon.ico" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link rel="stylesheet" href="/views/global.css">
	<link rel="stylesheet" href="/views/marketplace.css">
	<link href="/views/gfx/fonts/flaticon.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!--<div style="height: 100px"><a class='slink' id='logout'><button>Logout</button></a></div>-->
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<div id="menu_drop_icon">
		<i class="fas fa-bars"></i>
	</div>
	<div class="sidebar_container">
		<%- include('snippets/sidebar'); %>
	</div>
	<div id="page_wrapper">
		<div class="menuOverlay">
		</div>
		<div class="container containerBB">
			<div class="welcome_box">
				<h4>My Listings</h4>
				<h1>My Templates</h1>
			</div>
			<div class="filterbar f_buttons">
				<button class="active">All</button>
				<button>Digital</button>
				<button>Course</button>
				<button>Freelance</button>
				<button class="black_button" id="listItem">Start Selling</button>
				<button class="black_button" id="myListings">My Listings</button>
			</div>
			<div id="market_listings">
				
        	</div>
		</div>
	</div>
	
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	marketplaceRefresh();

	function mpListingHTML(id,thumbnail_url,title,price,username){
		var code = '<div class="col-md-3"><div class="mp_img_cont"><a href="/marketplace/product/edit/'+id+'"><img class="" src="'+thumbnail_url+'"></a></div><div class="mp_details"><div class="mp_title"><a href="/marketplace/product/edit/'+id+'">'+title+'</a></div><div class="mp_price">'+price+'$</div></div><div class="mp_details2">By <span class="username">'+username+'</span></div></div>';
		return code;
	}
	
	function updateTemplates(){
		var html = "";
		var rows = parseInt(TEMPLATES.length/3);
		for(var i=0;i<TEMPLATES.length;i++){
			if(i == 0){
				html += "<div class='row mp_row'>";
			}else if(i % 3 == 0){
				html += "</div><div class='row mp_row'>";
			}

			html += mpListingHTML(TEMPLATES[i]._id,TEMPLATES[i].main_img,TEMPLATES[i].title,TEMPLATES[i].price,TEMPLATES[i].username);
		}
		html += "</div>";
		$('#market_listings').html(html);
	}

	function marketplaceRefresh(){
		indexOwnTemplates(function(err,data){
			if(!err) {
				TEMPLATES = data.templates;
				updateTemplates();
			}else{
				console.log(err);
			}
		});
	}

	$("#menu_drop_icon").click(function(){
		$('.sidebar_container').animate({'width':'268px'},400);
		$('.menuOverlay').fadeIn(400);
	});

	$(".menuOverlay").click(function(){
		$('.sidebar_container').animate({'width':'0'},400);
		$('.menuOverlay').fadeOut(400);
	});
	
	$('#listItem').click(function(){
		window.location ='/marketplace/add';
	});

	$('#myListings').click(function(){
		window.location ='/marketplace/my-listings';
	});

	$('.mp_img').click(function(){
		window.location ='/marketplace/product';
	});
</script>
</body>
</html>