<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link rel="stylesheet" href="/views/global.css">
	<link rel="stylesheet" href="/views/marketplace.css">
	<link href="/views/gfx/fonts/flaticon.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!--<div style="height: 100px"><a class='slink' id='logout'><button>Logout</button></a></div>-->
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<div id="menu_drop_icon">
		<i class="fas fa-bars"></i>
	</div>
	<div class="sidebar_container">
		<div id="sidebar">
			<div id="sidebar_logo">
				<img src="/views/gfx/logo.png" alt="">
			</div>
			<div id="sidebar_menu">
				<h4>Admin tools</h4>
				<div class="item"  href='/dashboard'>
					<span class="icon"><i class="fas fa-columns"></i></span><span class="text">Overview</span>
				</div>
				<div class="item " href='/funnels'>
					<span class="icon"><i class="fas fa-filter"></i></span><span class="text">My Funnels</span>
				</div>
				<div class="item"  href='/apps'>
					<span class="icon"><i class="fas fa-star-half-alt"></i></span><span class="text">Apps</span>
				</div>
				<div class="item active_item"  href='/marketplace'>
					<span class="icon"><i class="fas fa-store"></i></span><span class="text">Marketplace</span>
				</div>
				<div class="item"  href='/documentation'>
					<span class="icon"><i class="fas fa-book"></i></span><span class="text">Documentation</span>
				</div>
				<div class="item"  href='/subscriptions'>
					<span class="icon"><i class="fas fa-money-check-alt"></i></span><span class="text">My Subscriptions</span>
				</div>
				<div class="item"  href='/support'>
					<span class="icon"><i class="far fa-question-circle"></i></span><span class="text">Support</span>
				</div>
				
			
			</div>
			<div class="premcont">
			<button class='black_button orange' id='gopremium'><i class="fas fa-crown"></i><span style="display: inline-block; width: 7px;"></span>Go Premium</button></div>
			<div id="sidebar_userdrop">
				<div class="userdrop_link" id='profile'>
					<div class="userdrop_icon"><i class="fas fa-user"></i></div>
					<div class="userdrop_text">Profile</div>
				</div>
				<div class="userdrop_link" id='logout'>
					<div class="userdrop_icon"><i class="fas fa-power-off"></i></div>
					<div class="userdrop_text">Logout</div>
				</div>
			</div>
			<div id="sidebar_user">	
				<div class="user_icon">
					<img src="/views/gfx/avatar.png" alt="">
				</div>
				<div class="user_details">
					<div class="user_fullname">User</div>
					<div class="user_membership">Free Trial</div>
				</div>
				<div class="user_arrow"><i class="fas fa-chevron-down"></i></div>
			</div>

		</div>
	</div>
	<div id="page_wrapper">
		<div class="menuOverlay">
		</div>
		<div class="container containerBB">
			<div class="welcome_box" style="margin-bottom: 80px;">
				
			</div>
			
			<div class="row" style="width: 100%">
				<div class="col-md-9">
					<div class="mp_main_image_container">
						<img class='mp_main_image' src="http://codenpixel.com/demo/marketspot/assets/img/5_1576156789870.png" alt="">
					</div>
					<div class="mpp_desc">
						<h1 class="mpp_title">
							 Front-end UI kit to create a e-commerce websites with html templates and code snippets. 
						</h1>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et metus at nibh volutpat lacinia. Donec at nulla ultricies mauris gravida feugiat et at justo. Fusce molestie malesuada sapien, vitae rutrum enim auctor et. Pellentesque iaculis lorem quis laoreet tempus.<br><br> Pellentesque suscipit, purus nec facilisis scelerisque, arcu quam tempor mi, hendrerit porttitor lectus nisi eu sapien. Mauris sagittis lacus in mi imperdiet lobortis.<br><br> Proin vulputate, quam sit amet rhoncus pulvinar, neque libero luctus elit, et imperdiet tellus ex in tellus. Sed tristique pulvinar erat, quis sollicitudin erat ornare vitae. Aenean in bibendum libero. Vestibulum gravida, arcu nec consequat maximus, justo massa cursus ante, non maximus tortor felis vel purus. Pellentesque efficitur quis ipsum et congue. Aliquam eget ipsum ipsum. Phasellus ornare sem metus, in congue lacus ullamcorper ac. Proin id vulputate neque. </p>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="mp_feature_box">
								<h4>Features</h4>
								<ul>
									<li><i class="fas fa-check greenlight"></i> 25 Illustrations</li>
									<li><i class="fas fa-check greenlight"></i> Bright & Modern Style</li>
									<li><i class="fas fa-check greenlight"></i> Fully Vector</li>
									<li><i class="fas fa-check greenlight"></i> AI, SVG, PNG Sources</li>
								</ul>
							</div>
						</div>
						<div class="col-md-8">
							<div class="mp_user_faq">
								<h4>Frequently Asked Questions</h4>
								<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit ?</h5>
								<p>Donec at nulla ultricies mauris gravida feugiat et at justo. Fusce molestie malesuada sapien, vitae rutrum enim auctor et. Pellentesque iaculis lorem quis laoreet tempus.</p>
								<h5>Pellentesque iaculis lorem quis laoreet tempus ?</h5>
								<p>Aliquam eget ipsum ipsum. Phasellus ornare sem metus, in congue lacus ullamcorper ac. Proin id vulputate neque.</p>
							</div>
						</div>	
					</div>
					<div class="spacer20"></div>
					<div class="mp_main_image_container">
						<img class='mp_main_image' src="http://codenpixel.com/demo/marketspot/assets/img/6_1576156774871.png" alt="">
					</div>
					<div class="spacer30"></div>
					<div class="mp_main_image_container">
						<img class='mp_main_image' src="http://codenpixel.com/demo/marketspot/assets/img/3_1576157483446.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<div class="mp_buy_box">
						<h4>Shyro ClickFunnels Template</h4>

						<ul>
							<li><i class="fas fa-dot-circle greenlight"></i> 7 Days Guarantee</li>
							<li><i class="fas fa-dot-circle greenlight"></i> 24/7 Customer Support</li>
						</ul>
						<div class="spacer20">	</div>
						<img style='width: 100%;' src="https://interactivespares.com/wp-content/uploads/2018/07/paypal_logo.png" alt="">
						<div class="spacer20"></div>
						<div class="black_button">Purchase <i class="fas fa-long-arrow-alt-right"></i> 49$</div>
					</div>
				</div>
        	</div>
		</div>
	</div>
	
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	$("#menu_drop_icon").click(function(){
		$('.sidebar_container').animate({'width':'268px'},400);
		$('.menuOverlay').fadeIn(400);
	});

	$(".menuOverlay").click(function(){
		$('.sidebar_container').animate({'width':'0'},400);
		$('.menuOverlay').fadeOut(400);
	});
	
	$('#listItem').click(function(){
		window.location ='/marketplace/add';
	});
</script>
</body>
</html>