<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link rel="stylesheet" href="/views/global.css">
</head>
<body>
	<!--<div style="height: 100px"><a class='slink' id='logout'><button>Logout</button></a></div>-->
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<div class="sidebar_container">
		<div id="sidebar">
			<div id="sidebar_logo">
				<h1>LOGO</h1>
			</div>
			<div id="sidebar_menu">
				<h4>Admin tools</h4>
				<div class="item"  href='/dashboard'>
					<span class="icon"><i class="fas fa-columns"></i></span><span class="text">Overview</span>
				</div>
				<div class="item " href='/funnels'>
					<span class="icon"><i class="fas fa-filter"></i></span><span class="text">My Funnels</span>
				</div>
				<div class="item "  href='/apps'>
					<span class="icon"><i class="fas fa-star-half-alt"></i></span><span class="text">Apps</span>
				</div>
				<div class="item"  href='/documentation'>
					<span class="icon"><i class="fas fa-book"></i></span><span class="text">Documentation</span>
				</div>
				<div class="item active_item"  href='/subscriptions'>
					<span class="icon"><i class="fas fa-money-check-alt"></i></span><span class="text">My Subscriptions</span>
				</div>
				<div class="item"  href='/support'>
					<span class="icon"><i class="far fa-question-circle"></i></span><span class="text">Support</span>
				</div>
				
			
			</div>
			<div class="premcont">
			<button class='black_button orange' id='gopremium'><i class="fas fa-crown"></i><span style="display: inline-block; width: 7px;"></span>Go Premium</button></div>
			<div id="sidebar_userdrop">
				<div class="userdrop_link" id='profile'>
					<div class="userdrop_icon"><i class="fas fa-user"></i></div>
					<div class="userdrop_text">Profile</div>
				</div>
				<div class="userdrop_link" id='logout'>
					<div class="userdrop_icon"><i class="fas fa-power-off"></i></div>
					<div class="userdrop_text">Logout</div>
				</div>
			</div>
			<div id="sidebar_user">	
				<div class="user_icon">
					<img src="/views/gfx/avatar.png" alt="">
				</div>
				<div class="user_details">
					<div class="user_fullname">User</div>
					<div class="user_membership">Free Trial</div>
				</div>
				<div class="user_arrow"><i class="fas fa-chevron-down"></i></div>
			</div>
		</div>
	</div>
	<div id="page_wrapper">
		<div class="row">
			<div class="col-md-8 center_page">
				<div class="inside">
					<div class="welcome_box">
						<h1>Paypal TEST</h1>
					</div>
					<script src="https://www.paypalobjects.com/api/checkout.js"></script>

					<div id="paypal-button"></div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>


<script>
  paypal.Button.render({
    env: 'sandbox', // Or 'production'
    // Set up the payment:
    // 1. Add a payment callback
    payment: function(data, actions) {
      // 2. Make a request to your server
      return actions.request.post('/api/paypal/create-payment/')
        .then(function(res) {
          // 3. Return res.id from the response
          return res.id;
        });
    },
    // Execute the payment:
    // 1. Add an onAuthorize callback
    onAuthorize: function(data, actions) {
      // 2. Make a request to your server
      return actions.request.post('/api/paypal/execute-payment/', {
        paymentID: data.paymentID,
        payerID:   data.payerID
      })
        .then(function(res) {
          // 3. Show the buyer a confirmation message.
        });
    }
  }, '#paypal-button');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	
	
</script>
</body>
</html>