<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link rel="stylesheet" href="/views/global.css">
</head>
<body>
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<div id="sidebar">
		<div id="sidebar_logo">
			<h1>LOGO</h1>
		</div>
		<div id="sidebar_menu">
			<h4>Admin tools</h4>
			<div class="item"  href='/dashboard'>
				<span class="icon"><i class="fas fa-columns"></i></span><span class="text">Overview</span>
			</div>
			<div class="item active_item" href='/funnels'>
				<span class="icon"><i class="fas fa-filter"></i></span><span class="text">My Funnels</span>
			</div>
			<div class="item"  href='/apps'>
				<span class="icon"><i class="fas fa-star-half-alt"></i></span><span class="text">Apps</span>
			</div>
			<div class="item"  href='/documentation'>
				<span class="icon"><i class="fas fa-book"></i></span><span class="text">Documentation</span>
			</div>
			<div class="item"  href='/subscriptions'>
				<span class="icon"><i class="fas fa-money-check-alt"></i></span><span class="text">My Subscriptions</span>
			</div>
			<div class="item"  href='/support'>
				<span class="icon"><i class="far fa-question-circle"></i></span><span class="text">Support</span>
			</div>
			<div class="item" id='logout'  href='/'>
				<span class="icon"><i class="fas fa-power-off"></i></span><span class="text">Logout</span>
			</div>
		</div>
	</div>
	<div id="page_wrapper">
		<div class="row">
			<div class="col-md-12 center_page">
				<div class="inside">
					<div class="welcome_box">
						<button class='back_button link_button' href='/funnels/'><i class="fas fa-reply"></i></button>
						<h4>Funnel Steps</h4>
						<h1 id='funnel_title'>Kinobody Funnel</h1>
					</div>
					<div class="funnels">
						<div id="addStepBox" style="display: none;">
							<input type="text" class='standard_input' id="step_title" placeholder="Step Name">
							<input type="text" class='standard_input' id="step_url" placeholder="Step URL">
							<div class="select_type" id='step_type'>
								<div class="select_tab active" data-type='form'>
									<div class="select_icon">
										<i class="fas fa-shopping-cart"></i>
									</div>
									<div class="select_text">
										Order Form
									</div>
								</div>
								<div class="select_tab" data-type='upsell'>
									<div class="select_icon">
										<i class="fas fa-arrow-up"></i>
									</div>
									<div class="select_text">
										Upsell
									</div>
								</div>
								<div class="select_tab" data-type='downsell'>
									<div class="select_icon">
										<i class="fas fa-arrow-down"></i>
									</div>
									<div class="select_text">
										Downsell
									</div>
								</div>
							</div>
						</div>
						<span class='black_button' id='addStep' style="display: none;">Submit</span>
						<span class='black_button' id='toggleAdd'>+ Add Step</span>
						<span class='black_button' id='toggleAdd'><i style='font-size: 14px; margin-right: 	2px;' class="fas fa-pencil-alt"></i> Edit Step</span>
						<span class='black_button' id='toggleAdd'><i style='font-size: 14px; margin-right: 	2px;' class="far fa-trash-alt"></i> Delete Step</span>
						<div id="myfunnels" class="row">
							<div class="col-md-4">
								<div class="dbox">
								<div class="step_item pink active">
									<div class="s_icon">
										<div class="s_iconcap">Order Form</div><i class="fas fa-shopping-cart"></i></div>
									<div class="s_details">
										<div class="s_title">Step 1<div class="icc"><i class="fas fa-chevron-right"></i></div></div>
										<div class="s_caption">Type : Order Form<br>Url : ww.ww.ww</div>
									</div>
								</div>
								<div class="step_item purple">
									<div class="s_icon">
										<div class="s_iconcap">Upsell</div><i class="fas fa-arrow-up"></i></div>
									<div class="s_details">
										<div class="s_title">up<div class="icc"><i class="fas fa-chevron-right"></i></div></div>
										<div class="s_caption">Type : Upsell<br>Url : ww.ww.ww</div>
									</div>
								</div>
								<div class="step_item cyan">
									<div class="s_icon">
										<div class="s_iconcap">Downsell</div><i class="fas fa-arrow-down"></i></div>
									<div class="s_details">
										<div class="s_title">down<div class="icc"><i class="fas fa-chevron-right"></i></div></div>
										<div class="s_caption">Type : Downsell<br>Url : ww.ww.ww</div>
									</div>
								</div>
								<div class="step_item yellow">
									<div class="s_icon">
										<div class="s_iconcap">Order Form</div><i class="fas fa-shopping-cart"></i></div>
									<div class="s_details">
										<div class="s_title">Step Last<div class="icc"><i class="fas fa-chevron-right"></i></div></div>
										<div class="s_caption">Type : Order Form<br>Url : ww.ww.ww</div>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-8" id='products'>
								<div class="dbox">
									<h2>Products</h2>
									<div class="f_buttons">	
										<button><i class="fas fa-plus"></i></button>
										<button><i class="far fa-edit"></i></button>
										<button><i class="far fa-trash-alt"></i></button>
									</div>
									<div class="prod_table">
										<div class="prod_headrow">
											<div class="prod_cell">Name</div>
											<div class="prod_cell">Stripe ID</div>
											<div class="prod_cell">Paypal ID</div>
											<div class="prod_cell">Price</div>
										</div>
										<div class="prod_row">	
											<div class="prod_cell">Product 1</div>
											<div class="prod_cell">6518132</div>
											<div class="prod_cell">1358475</div>
											<div class="prod_cell">1 USD</div>
										</div>
										<div class="prod_row">	
											<div class="prod_cell">Prodd 2</div>
											<div class="prod_cell">9845612</div>
											<div class="prod_cell">1581123</div>
											<div class="prod_cell">19.45 USD</div>
										</div>
										<div class="prod_row">	
											<div class="prod_cell">Pro Bump</div>
											<div class="prod_cell">4255552</div>
											<div class="prod_cell">5582523</div>
											<div class="prod_cell">1 USD</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	<!--<div id="innerCont">
		<h1 style="text-align: center;">Steps</h1>
		<hr>	
		<div class="row" style="min-height: 200px;">
			<div class="col-md-8">
				<div id="buttonbar" class="buttonbar">
					<button onclick='addstep()'>+ Add Step</button>
				</div>
				<div id="stepBox" style="display: none;">
					<input type="text" placeholder="Step Title" id='stepTitle'>
					<input type="text" placeholder="Step URL" id='stepURL'>
					<select name="steptype" id="stepType">
						<option value="form">Order Form</option>
						<option value="upsell">Upsell / Downsell / Cross-sell</option>
					</select>
					<button id='addStep' class='purplebutton'>+ Add Step</button>
					<button id='updateStep' class='purplebutton' style="display: none;">Update Step</button>
				</div>
				<div id="inside">
				
				
			</div>
			</div>
			
			<div class="col-md-4">
				<div id="buttonbar2" class="buttonbar">
					<button onclick='addproductX()'>+ Add Product</button>
					<button class='infobutton' id='infobutton'>Selected : None</button>
				</div>
				<div id="createBox" style="display: none;">
					<input type="text" id='prodIndex' value=0 disabled style='display:none'>
					<input type="text" id='prodTitle' placeholder="Product Name"  style="width: 97%;">
					<input type="text" id='prodStripe' placeholder="Product ID (Stripe)">
					<input type="text" id='prodPaypal' placeholder="Product ID (Paypal)">	
					<div style="width: 200px; margin:0 auto; padding: 14px;"><input type="checkbox" id='orderBump' name="orderBump"><label for="orderBump">Order Bump</label></div>
					<div style="width: 200px; margin:0 auto; padding: 14px;"><input type="checkbox" id='highlight' name="highlight"><label for="highlight">Highlight</label></div>
					<input type="text" id='prodPrice' placeholder="Price" style='display: none'>
					<button class='purplebutton' id='createProduct'>+ Add Product</button>
					<button id='updateProduct' class='purplebutton' style="display: none;">Update Product</button>
				</div>
				<div id="bumpBox" style="display: none;">
					<h3>HTML Code :</h3>
					<textarea id='bumpCode'></textarea>
					<button id='updateBump' class='purplebutton'>Update Order Bump</button>
				</div>
				<div id="varBox" style="display: none;">
					<h3>Add Variant</h3>
					<input type="text" id='varTitle' placeholder="Product Name"  style="width: 97%;">
					<input type="text" id='varOptions' placeholder="Variant Options"  style="width: 97%;">
					<button id='addVariant' class='purplebutton'>Save</button>
				</div>
				<div id="insideProd">
				
				
				</div>
			</div>
		</div>
		<hr>
		<div class="row" id='genrow' style="display: none;">
			<div class="col-md-2">
				<button id='save'>Save</button>
				<button id='generateScript'>Save & Generate Script</button>
			</div>
			
			<div class="col">
				
				<h3>Head Tracking Code</h3>
				<textarea name="" id="script" disabled></textarea>
				
			</div>
			<div class="col">
				<h3>Body Tracking Code</h3>
				<textarea name="" id="scriptbody" disabled></textarea>
			</div>
		</div>
	</div>
</div>-->
<!--		

	<div id="main">
		<div id="reglog">
			<input type="text" placeholder="Step Title" id='stepTitle' class="inp90">
			<input type="text" placeholder="Step URL" id='stepURL' class="inp90">
			<select name="steptype" id="stepType" class='inp90'>
				<option value="form">Order Form</option>
				<option value="upsell">Upsell / Downsell / Cross-sell</option>
			</select>
			<button id='addStep'>+ Add Step</button>
			
			
		</div>
		<div id="inside">
			
		</div>
		<button id='generateScript'>Generate Script</button>
		<h3>Head Tracking Code</h3>
		<textarea name="" id="script" disabled>
				
		</textarea>
		<h3>Body Tracking Code</h3>
		<textarea name="" id="scriptbody" disabled>
				
		</textarea>
	</div>
-->
<div id="realOverlay"></div>
<div id="realOverlay2"></div>


	


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	$('.item').click(function(){
		window.location = $(this).attr('href');
	});

	$('.link_button').click(function(){
		window.location = $(this).attr('href');
	});

	function toggleAddStep(){
		$("#addStepBox").slideToggle(300);
		$('#addStep').toggle();
		$('#step_title').val('');
		$('#step_url').val('');
		if(toggleAdd){
			$('#toggleAdd').html('Cancel');
		}else{
			$('#toggleAdd').html('+ Add Step');
		}
		toggleAdd = !toggleAdd;

	}

	$('#toggleAdd').click(function(){
		toggleAddStep();
	});

	$('.select_tab').click(function(){
		$('.select_tab').removeClass('active');
		$(this).addClass('active');
	});

	$('.step_item').click(function(){
		$('.step_item').removeClass('active');
		$(this).addClass('active');
	});

	const FUNNEL_ID = "<%= id %>";

	var funnelSteps = [];
	var funnelTitle = "Funnel";

	var SELECTED_STEP = 0;
	var SELECTED_PRODUCT = 0;

	//refreshFunnel();

	$('#script, #scriptbody').val('');

	function updateFunnelSteps(){
		var code = "";
		for(var i =0;i<funnelSteps.length;i++){
			var step = funnelSteps[i];
			code += "<div class='sttl' data-index="+i+" id='sttl_"+i+"'><span style='padding-left:4px;'>Step "+(i+1)+' : '+step.title+"</span><button class='minibutton' onclick='deletestep("+i+")'>Delete</button><button class='minibutton' onclick='editstep("+i+")'>Edit</button><div class='sttdesc'><span><strong>Type : </strong>"+step.type+"</span><br><strong>Url : </strong>"+step.url+"</div></div>";
		}
		console.log(funnelSteps);
		$("#myfunnels").html(code);
		selectStep();
		$('.sttl').click(function(e){
			SELECTED_STEP = parseInt($(this).data('index'));
			selectStep();
		});
		if(funnelSteps.length>0){
			$('#genrow').slideDown(400);
		}else{
			$('#genrow').slideUp(400);
		}
	}

	function selectStep(){
		$('.sttl').removeClass('sttl_selected');
		$('#sttl_'+SELECTED_STEP).addClass('sttl_selected');
		$('#infobutton').html('Selected : Step '+(SELECTED_STEP+1));
		var code = "";
		for(var j=0;j<funnelSteps[SELECTED_STEP].products.length;j++){
			var product = funnelSteps[SELECTED_STEP].products[j];
			code += "<div class='pttl'><span style='padding-left:4px;'>"+product.title+"</span><button class='minibutton' onclick='deleteproduct("+SELECTED_STEP+","+j+")'>Delete</button><button class='minibutton' onclick='editproduct("+SELECTED_STEP+","+j+")'>Edit</button><div class='sttdesc'><span><strong>Order Bump : </strong>"+product.bump+"</span><br><strong>Highlight : </strong>"+product.highlight+"<br><strong>Product ID (Stripe) : </strong>"+product.stripe+"<br><strong>Product ID (Paypal) : </strong>"+product.paypal+"</div>";
			if(product.bump){
				txtarea = $("<textarea class='bumpscript' disabled></textarea>");
				if(!product.bumpCode){
					var orderBumpCode = '<div class=\"bump1\">\r\n\t\t<label for=\"bump-'+product.stripe+'\"><input type=\"checkbox\" id=\"bump-'+product.stripe+'\" name=\"xxbump\" value=\"'+product.stripe+'\"> Add this cool thing<\/label>\r\n\t\t<p><span class=\'x1\'>ONE TIME OFFER ('+product.price+'$) :<\/span> Get full access to '+product.title+' for a special one-time only price of <strong>$'+product.price+'<\/strong> Lorem ipsum dolor sit amet<\/p>\r\n\t\t<h4>Click YES to add this to your order now for just '+product.price+'$<\/h4>\r\n\t<\/div>';
					product.bumpCode = orderBumpCode;
				}
				txtarea.text(product.bumpCode);
				code += $("<div />").append(txtarea.clone()).html();
				code += '<button class="minibutton custombump" onclick="editbump('+SELECTED_STEP+','+j+')" >Customize Order Bump</button><button class="minibutton custombump" onclick="editvar('+SELECTED_STEP+','+j+')" >Add Variations</button>';
			}
			code += "</div>";
			
		}
		$("#insideProd").html(code);
	}

	function addproductX(){
		addproduct(SELECTED_STEP);
	}

	function addproduct(index){
		$('#createProduct').show();
		$('#updateProduct').hide();
		$('#createBox').slideDown(400);
	}

	function editstep(index){
		SELECTED_STEP = index;
		selectStep();
		$('#addStep').hide();
		$('#updateStep').show();
		$('#stepBox').slideDown(400);
		$('#stepTitle').val(funnelSteps[index].title);
		$('#stepURL').val(funnelSteps[index].url);
		$('#stepType').val(funnelSteps[index].type);
	}

	function editproduct(i,j){
		SELECTED_STEP = i;
		SELECTED_PRODUCT = j;
		$('#createProduct').hide();
		$('#updateProduct').show();
		$('#createBox').slideDown(400);
		$('#prodTitle').val(funnelSteps[i].products[j].title);
		$('#prodStripe').val(funnelSteps[i].products[j].stripe);
		$('#prodPaypal').val(funnelSteps[i].products[j].paypal);
		$('#prodPrice').val(funnelSteps[i].products[j].price);
		$("#orderBump").prop("checked", funnelSteps[i].products[j].bump);
		$("#highlight").prop("checked", funnelSteps[i].products[j].highlight);
		if(funnelSteps[i].products[j].bump){
			$('#prodPrice').show();
		}
	}

	function editbump(i,j){
		SELECTED_STEP = i;
		SELECTED_PRODUCT = j;
		$('#bumpBox').slideDown(400);
		$("#bumpCode").val(funnelSteps[i].products[j].bumpCode);
	}

	function editvar(i,j){
		SELECTED_STEP = i;
		SELECTED_PRODUCT = j;
		$('#varBox').slideDown(400);
	}

	function addstep(){
		$('#addStep').show();
		$('#updateStep').hide();
		$('#stepBox').slideDown(400);

	}



	function deletestep(index){
		funnelSteps.splice(index,1);
		updateFunnelSteps();
	}

	function deleteproduct(i,j){
		funnelSteps[i].products.splice(j,1);
		updateFunnelSteps();
	}

	$('#orderBump').click(function (){
        if($(this).is(':checked')){
          $('#prodPrice').show();
        }else{
        	$('#prodPrice').hide();
        }
    });

	$('#createProduct').click(function(){
		var product = {};
		product.title = $('#prodTitle').val();
		product.stripe = $('#prodStripe').val();
		product.paypal = $('#prodPaypal').val();
		product.price = $('#prodPrice').val();
		product.variants = [];
		if($('#orderBump').is(':checked')){
			product.bump = true;
		}else{
			product.bump = false;
		}
		if($('#highlight').is(':checked')){
			product.highlight = true;
		}else{
			product.highlight = false;
		}
		var index = parseInt(SELECTED_STEP);
		funnelSteps[index].products.push(product);
		$('#prodTitle').val('');
		$('#prodStripe').val('');
		$('#prodPaypal').val('');
		$('#prodPrice').val('');
		$("#orderBump").prop("checked", false);
		$("#highlight").prop("checked", false);
		$('#prodPrice').hide();
		updateFunnelSteps();
		$('#createBox').slideUp(400);
	});	

	$('#updateProduct').click(function(){
		funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].title = $('#prodTitle').val();
		funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].stripe = $('#prodStripe').val();
		funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].paypal = $('#prodPaypal').val();
		funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].price = $('#prodPrice').val();
		if($('#orderBump').is(':checked')){
			funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].bump = true;
		}else{
			funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].bump = false;
		}
		if($('#highlight').is(':checked')){
			funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].highlight = true;
		}else{
			funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].highlight = false;
		}
		var index = parseInt(SELECTED_STEP);
		$('#prodTitle').val('');
		$('#prodStripe').val('');
		$('#prodPaypal').val('');
		$('#prodPrice').val('');
		$("#orderBump").prop("checked", false);
		$("#highlight").prop("checked", false);
		$('#prodPrice').hide();
		updateFunnelSteps();
		$('#createBox').slideUp(400);
	});

	$('#updateBump').click(function(){
		funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].bumpCode = $('#bumpCode').val();
		$('#bumpCode').val('');
		updateFunnelSteps();
		$('#bumpBox').slideUp(400);
	});

	$('#addVariant').click(function(){
		var variant = {};
		variant.title = $('#varTitle').val();
		variant.options = $('#varOptions').val().split(',');
		$('#varTitle').val('');
		$('#varOptions').val('');
		funnelSteps[SELECTED_STEP].products[SELECTED_PRODUCT].variants.push(variant);
		updateFunnelSteps();
		$('#varBox').slideUp(400);
	});

	$('#logout').click(function(){
		logout(function(err,data){
			if(!err) {
				localStorage.removeItem("token");
				window.location = '/';
			}else{
				alert(err);
			}
		});
	})

	$('#addStep').click(function(){
		var step = {};
		step.title = $('#step_title').val();
		step.url = $('#step_url').val();
		step.type = $('.select_tab.active').data('type');
		console.log()
		step.products = [];
		$('#stepURL').val('');
		$('#stepTitle').val('');
		funnelSteps.push(step);
		updateFunnelSteps();
		$('#stepBox').slideUp(400);
	});

	$('#updateStep').click(function(){
		funnelSteps[SELECTED_STEP].title = $('#stepTitle').val();
		funnelSteps[SELECTED_STEP].url = $('#stepURL').val();
		funnelSteps[SELECTED_STEP].type = $('#stepType').val();
		$('#stepURL').val('');
		$('#stepTitle').val('');
		updateFunnelSteps();
		$('#stepBox').slideUp(400);
	});

	$('#save').click(function(){
		saveFunnel();
	});

	$('#generateScript').click(function(){
		saveFunnel();
		$('#script').val('');
		var stepURLs = [];
		var steps = funnelSteps;
		for(var i=0;i<funnelSteps.length;i++){
			var pathParts = funnelSteps[i].url.split('/');
			stepURLs.push(pathParts[pathParts.length-1].trim());
		}
		var code = '<script>\r\nvar isPAYPAL = false;\r\nvar STEP_URLS = '+JSON.stringify(stepURLs)+';\r\nvar STEPS = '+JSON.stringify(steps)+';\r\n<\/script>\r\n<script src=\"http:\/\/cfapp20.herokuapp.com\/views\/app\/pp_head.js\"><\/script>\r\n';
			$('#script').val(code);
			$('#scriptbody').val('<script src=\"http:\/\/cfapp20.herokuapp.com\/views\/app\/pp_body.js\"><\/script>');
	});

	function refreshFunnel(){
		getFunnel(FUNNEL_ID,function(err,data){
			if(!err) {
				funnelSteps = data.funnel_.steps;
				funnelTitle = data.funnel_.title;
				$('#funnel_title').html(funnelTitle);
				updateFunnelSteps();
			}else{
				console.log(err);
			}
		});
	}

	function saveFunnel(){
		updateFunnel(FUNNEL_ID,funnelTitle,JSON.stringify(funnelSteps),function(err,data){
			if(!err) {
				//
			}else{
				console.log(err);
			}
		});
	}

</script>
</body>
</html>