<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	<link rel="stylesheet" href="/views/global.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
</head>
<body>
		<a class='slink' id='logout'><button>Logout</button></a>

	<div id="main">
		<div id="reglog">
			<input type="text" placeholder="Step Title" id='stepTitle' class="inp90">
			<input type="text" placeholder="Step URL" id='stepURL' class="inp90">
			<button id='addStep'>+ Add Step</button>
			
			<!--<img src="/views/ex.png" class='eximg' alt="">-->
		</div>
		<div id="inside">
			
		</div>
		<button id='generateScript'>Generate Script</button>
		<textarea name="" id="script" disabled>
				
		</textarea>
	</div>
<div id="realOverlay"></div>
<div id="realOverlay2"></div>
<div id="createContainer">
	<div id="createBox">
		<input type="text" id='prodIndex' value=0 disabled style='display:none'>
		<input type="text" id='prodTitle' placeholder="Product Name">
		<input type="text" id='prodStripe' placeholder="Product ID (Stripe)">
		<input type="text" id='prodPaypal' placeholder="Product ID (Paypal)">
		<div style="width: 200px; margin:0 auto; padding: 14px;"><input type="checkbox" id='orderBump' name="orderBump"><label for="orderBump">Order Bump</label></div>
		<button class='otherbtn' id='createProduct'>Add Product</button>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	var funnelSteps = [];

	function updateFunnelSteps(){
		var code = "";
		for(var i =0;i<funnelSteps.length;i++){
			var step = funnelSteps[i];
			code += "<h2 class='sttl'>"+step.title+"<button class='minibutton' onclick='addproduct("+i+")'>+ Add Product</button></h2>";
			for(var j=0;j<funnelSteps[i].products.length;j++){
				var product = funnelSteps[i].products[j];
				code += "<h3 class='pttl'>"+product.title+"</h3>";
			}
		}
		$("#inside").html(code);
	}

	function addproduct(index){
		$('#prodIndex').val(index);
		$('#realOverlay').fadeIn(400).click(function(){
			$('#createContainer').fadeOut(300);
			$('#realOverlay').fadeOut(300);
		});
		$('#createContainer').fadeIn(400);
	}

	$('#createProduct').click(function(){
		var product = {};
		product.title = $('#prodTitle').val();
		product.stripe = $('#prodStripe').val();
		product.paypal = $('#prodPaypal').val();
		if($('#orderBump').is(':checked')){
			product.bump = true;
		}else{
			product.bump = false;
		}
		var index = parseInt($('#prodIndex').val());
		funnelSteps[index].products.push(product);
		$('#prodTitle').val('');
		$('#prodStripe').val('');
		$('#prodPaypal').val('');
		$("#orderBump").prop("checked", false);
		$('#createContainer').fadeOut(300);
		$('#realOverlay').fadeOut(300);
		updateFunnelSteps();
	});	

	$('#logout').click(function(){
		logout(function(err,data){
			if(!err) {
				localStorage.removeItem("token");
				window.location = '/';
			}else{
				alert(err);
			}
		});
	})

	$('#addStep').click(function(){
		var step = {};
		step.title = $('#stepTitle').val();
		step.url = $('#stepURL').val();
		step.products = [];
		$('#stepURL').val('');
		$('#stepTitle').val('');
		funnelSteps.push(step);
		updateFunnelSteps();
	});

	$('#generateScript').click(function(){
		$('#script').val('');
		var stepURLs = [];
		var steps = funnelSteps;
		for(var i=0;i<funnelSteps.length;i++){
			var pathParts = funnelSteps[i].url.split('/');
			stepURLs.push(pathParts[pathParts.length-1].trim());
		}
		var code = '<script>\r\nvar STEP_URLS = '+JSON.stringify(stepURLs)+';\r\nvar STEPS = '+JSON.stringify(steps)+';\r\n<\/script>\r\n<script src=\"http:\/\/cfapp20.herokuapp.com\/views\/app\/pp_integrate.js\"><\/script>\r\n<script src=\'https:\/\/www.paypalobjects.com\/api\/checkout.js\'><\/script>';
			$('#script').val(code);
	});
</script>
</body>
</html>