<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CF APP</title>
	<link rel="stylesheet" href="/views/global.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
</head>
<body>
		<a class='slink' id='logout'><button>Logout</button></a>

	<div id="main">
		<div id="reglog">
			<input type="text" placeholder="Step URL (Stripe Order Form)" id='stripeURL'>
			<input type="text" placeholder="Step URL (Paypal)" id='paypalURL'>
			<button id='usertoken'>Generate Script</button>
			<textarea name="" id="script" disabled>
				
			</textarea>
			<img src="/views/ex.png" class='eximg' alt="">
		</div>
		<div id="inside">
			
		</div>
		
	</div>
<div id="realOverlay"></div>
<div id="realOverlay2"></div>
<div id="createContainer">
	<div id="createBox">	
		<input type="text" id='lobbyTitle' placeholder="Lobby Title">
		<select name="boardSize" id="boardSize">
			<option value="2">2 Players</option>
			<option value="3">3 Players</option>
			<option value="4" active>4 Players</option>
			<option value="5">5 Players</option>
			<option value="6">6 Players</option>
			<option value="7">7 Players</option>
			<option value="8">8 Players</option>
		</select>
<!--		<input type="hidden" id='mapId'>
		<button id='chooseMap'>Choose Map</button>
		<input type="text" id='mapTitle' value='No Map Chosen' disabled> -->
		<button class='otherbtn' id='createLobby'>Create Lobby</button>
	</div>
</div>

<!--<div id="mapContainer">
	<div id="mapBox">
		<div id="maps"></div>
		<button class='otherbtn' id='mapSubmit'>Choose Map</button>
	</div>
</div>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	


	$('#logout').click(function(){
		logout(function(err,data){
			if(!err) {
				localStorage.removeItem("token");
				window.location = '/';
			}else{
				alert(err);
			}
		});
	})

	$('#usertoken').click(function(){
		$('#script').val('');
		$.ajax({
		  url: $("#paypalURL").val(),
		  type: "GET",
		  data: {},
		  error: function(err) {
		    alert(err);
		    console.log(err);
		  },
		  success: function(data) {
		    var secondHalf = data.split("var page_key = '")[1];
		    var pkey = secondHalf.split("'")[0];
		    console.log(pkey);
		    var pathParts = $('#stripeURL').val().split('/');
			var endURL = pathParts[pathParts.length-1].trim();

			var code = '<script>\r\nvar END_URL = \"'+endURL+'\";\r\nvar PAYPAL_URL = \"'+pkey+'\";\r\n<\/script>\r\n<script src=\'https:\/\/www.paypalobjects.com\/api\/checkout.js\'><\/script>\r\n<script src=\"http:\/\/cfapp20.herokuapp.com\/views\/app\/pp_integrate.js\">'
			$('#script').val(code);

		  }
		});
	});
</script>
</body>
</html>