<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reset Your Password - Shyro</title>
	<link rel="shortcut icon" href="/views/favicon.ico" />
	<link rel="stylesheet" href="/views/global.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>
<body>
	<form method="POST">
	<legend>Reset Password</legend>
		<div class="form-group">
			<input type="password" name="password" value="" placeholder="New password" autofocus class="form-control">
		</div>
		<div class="form-group">
			<input type="password" name="confirmPassword" value="" placeholder="Confirm password" class="form-control">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Update Password</button>
		</div>
	</form>
<script>
</script>
</body>
</html>
