<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Subscriptions - Shyro</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
	<script defer src="/views/gfx/fontawesome/js/all.min.js"></script>
	<link rel="stylesheet" href="/views/global.css">
	<link href="/views/gfx/fonts/flaticon.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!--<div style="height: 100px"><a class='slink' id='logout'><button>Logout</button></a></div>-->
<div id="bgoverlay"></div>
<div class="container-fluid" id='maincont'>
	<div class="sidebar_container">
		<%- include('snippets/sidebar'); %>
	</div>
	<div id="page_wrapper">
		<div class="row">
			<div class="col-md-8 center_page">
				<div class="inside">
					<div class="welcome_box">
						<h4>Funnel Editor</h4>
						<h1>My Funnels</h1>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="rightbar">
					<div class="navbar">
						
					</div>
					<div class="logs">
						<h2>Update Logs</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div id="innerCont">
		<h1 style="text-align: center;">Steps</h1>
		<hr>	
		<div class="row" style="min-height: 200px;">
			<div class="col-md-8">
				<div id="buttonbar" class="buttonbar">
					<button onclick='addfunnel()'>+ Add Funnel</button>
				</div>
				<div id="stepBox" style="display: none;">
					<input type="text" placeholder="Funnel Title" id='funnelTitle'>
					<button id='addFunnel' class='purplebutton'>+ Add Funnel</button>
					<button id='cancelFunnel'>Cancel</button>
				</div>
				<div id="inside">
				
				
				</div>
			</div>
			
			<div class="col-md-4">
				<div id="buttonbar2" class="buttonbar">
					
				</div>
				<div id="insideProd">
				
				
				</div>
			</div>
		</div>
	</div>-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/views/utils.js"></script>
<script>
	var socket = io();
	socket.on('err',function(data){
		console.log(data);
		alert(data.message);
	});

	
	
</script>
</body>
</html>