<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="keywords" content="bootstrap 4, premium, multipurpose, sass, scss, saas, software" />
<meta name="description" content="HTML5 Template" />
<meta name="author" content="www.themeht.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Softino - Software Landing Page HTML5 Template</title>

<!-- favicon icon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- inject css start -->

<!--== bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 

<!--== animate -->
<link href="css/animate.css" rel="stylesheet" type="text/css" />

<!--== fontawesome -->
<link href="css/fontawesome-all.css" rel="stylesheet" type="text/css" />

<!--== line-awesome -->
<link href="css/line-awesome.min.css" rel="stylesheet" type="text/css" />

<!--== magnific-popup -->
<link href="css/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

<!--== owl-carousel -->
<link href="css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />

<!--== base -->
<link href="css/base.css" rel="stylesheet" type="text/css" />

<!--== shortcodes -->
<link href="css/shortcodes.css" rel="stylesheet" type="text/css" />

<!--== default-theme -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!--== responsive -->
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<!-- inject css end -->
<link href="css/theme-color/color-6.css" rel="stylesheet" type="text/css" />

<style type="text/css">
  #main-menu .nav-item>.nav-link{
    color: white;
  }
  #main-menu .nav-item>.nav-link.active{
    color: white;
  }
  .fixed-header #main-menu .nav-item>.nav-link{
    color: #1c1d3e;
  }
  .fixed-header #main-menu .nav-item>.nav-link.active{
    color: #481EA7;
  }
  .fixed-header .btn-white{
    background: #02060b;
    color: #ffffff;
  }
  #pricing{
    margin-bottom:  100px;
  }
  #home{
    margin-bottom: 100px;
  }
  .price-value h2 strong{
    font-weight: 300;
font-size: 45px;
margin-left: -3px;
  }
  #faq{
    margin-bottom:  50px;
  }
  #about{
    padding-bottom: 80px !important;
  }
  body,html{
    overflow-x: hidden;
  }
  .price-table.style-2 .price-inside{
    color: rgba(255,255,255,0.070);
  }
  .tab.style-2 .nav-tabs .nav-link{
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px; 
  }
</style>

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">

<!-- preloader start -->

<div id="ht-preloader">
  <div class="loader clear-loader">
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-wrap-text">
      <div class="text"><span>S</span><span>O</span><span>F</span><span>T</span><span>I</span><span>N</span><span>O</span>
      </div>
    </div>
  </div>
</div>

<!-- preloader end -->


<!--header start-->

<header id="site-header" class="header header-2">
  <div class="container">
    <div id="header-wrap" class="" style="background-color: transparent;">
      <div class="row">
        <div class="col-lg-12">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="index.html">
              <img id="logo-img" class="img-center" src="/views/gfx/logo-white.png" alt="">
              <img id="logo-img" class="img-center sticky-logo" src="/views/gfx/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <!-- Left nav -->
              <ul id="main-menu" class="nav navbar-nav ml-auto mr-auto" data-smartmenus-id="16060438405453936">
              <li class="nav-item"> <a class="nav-link active" href="#home">Home</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="#about">About</a> 
                </li>
               
                <li class="nav-item"> <a class="nav-link" href="#feature">Features</a> 
                </li>
                 <li class="nav-item"> <a class="nav-link" href="#service">Apps</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="#testimonial">Reviews</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="#pricing">Pricing</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="#faq">FAQ</a> 
                </li>
              </ul>
            </div>
            <a class="btn btn-white btn-sm" href="login.html" data-text="Login"> <span>L</span><span>o</span><span>g</span><span>i</span><span>n</span>
          </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
<div></div></header>
<!--header end-->


<!--hero section start-->

<section id="home" class="fullscreen-banner banner p-0 grediant-bg" style="height: 623px;">
  <div class="h-100" data-bg-img="images/bg/07.png" style="background-image: url(&quot;images/bg/07.png&quot;);">
  <div class="align-center pt-0" style="padding-top: 90px;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 order-lg-12">
          <div class="owl-carousel owl-theme no-pb owl-loaded owl-drag" data-dots="false" data-items="1" data-autoplay="true">
            
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1957px, 0px, 0px); transition: all 0.25s ease 0s; width: 3915px;"><div class="owl-item cloned" style="width: 652.5px;"><div class="item">
              <div class="img-box">
                <div class="box-loader"> <span></span>
                  <span></span>
                  <span></span>
                </div>
                <img class="img-center" src="images/banner/03.jpg" alt="">
              </div>
            </div></div><div class="owl-item cloned" style="width: 652.5px;"><div class="item">
              <div class="img-box">
                <div class="box-loader"> <span></span>
                  <span></span>
                  <span></span>
                </div>
                <img class="img-center" src="images/banner/04.jpg" alt="">
              </div>
            </div></div><div class="owl-item" style="width: 652.5px;"><div class="item">
              <div class="img-box">
                <div class="box-loader"> <span></span>
                  <span></span>
                  <span></span>
                </div>
                <img class="img-center" src="images/banner/03.jpg" alt="">
              </div>
            </div></div><div class="owl-item active" style="width: 652.5px;"><div class="item">
              <div class="img-box">
                <div class="box-loader"> <span></span>
                  <span></span>
                  <span></span>
                </div>
                <img class="img-center" src="images/banner/04.jpg" alt="">
              </div>
            </div></div><div class="owl-item cloned" style="width: 652.5px;"><div class="item">
              <div class="img-box">
                <div class="box-loader"> <span></span>
                  <span></span>
                  <span></span>
                </div>
                <img class="img-center" src="images/banner/03.jpg" alt="">
              </div>
            </div></div><div class="owl-item cloned" style="width: 652.5px;"><div class="item">
              <div class="img-box">
                <div class="box-loader"> <span></span>
                  <span></span>
                  <span></span>
                </div>
                <img class="img-center" src="images/banner/04.jpg" alt="">
              </div>
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span class="fas fa-long-arrow-alt-left"><span></span></span></button><button type="button" role="presentation" class="owl-next"><span class="fas fa-long-arrow-alt-right"></span></button></div><div class="owl-dots disabled"></div></div>
        </div>
        <div class="col-lg-5 col-md-12 md-mt-5 order-lg-1">
          <h1 class="mb-4 text-white wow fadeInUp" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">Skyrocket your funnel’s conversions</h1>
          <p class="lead mb-5 text-white wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">We all love Clickfunnels, but sadly there are few features that we know if we had them, it would take our funnels to the next level.</p>
          <div class="video-box">
            <a class="btn btn-theme wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.5s" href="/login" data-text="Start Today" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInUp;"> <span>S</span><span>t</span><span>a</span><span>r</span><span>t</span>
            <span>T</span><span>o</span><span>d</span><span>a</span><span>y</span>
            </a>
            <a class="btn btn-dark wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.5s" href="#about" data-text="Learn More" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInUp;"> <span>L</span><span>e</span><span>a</span><span>r</span><span>n</span>
            <span> </span><span>M</span><span>o</span><span>r</span><span>e</span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <svg class="wave-animation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z"></path>
    </defs>
    <g class="wave-bg">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="rgba(237,251,233,0.2)"></use>
      <use xlink:href="#gentle-wave" x="50" y="3" fill="rgba(255,204,112,0.2)"></use>
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#ffffff"></use>
    </g>
  </svg>
</section>

<!--hero section end-->


<!--body content start-->

<div class="page-content">

<!--feature start-->

<section id="about" class="p-0 pos-r" >
  <div class="bg-animation">
    <img class="zoom-fade" src="images/pattern/03.png" alt="">
  </div>
  <div class="container">
    <div class="row custom-mt-10">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="video-box">
          <img class="img-fluid" src="/views/gfx/laptop-dashboard.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col-lg-10 col-md-12 ml-auto mr-auto">
        <h2 class="title" style="margin-bottom: 20px">By Clickfunnels users, to Clickfunnels users.
</h2>
        <h3 class="text-black font-weight-normal line-h-2">
        Doesn’t matter if you sell <span class="text-theme">info-products</span> or <span class="text-theme">physical</span> products, <span class="text-theme" style="font-weight: 700;">you need what Shyro has to offer.</span></h3>
      </div>
    </div>
  </div>
</section>

<!--feature end-->


<section class="pos-r o-hidden text-center" id='quote' style="background-color: rgba(245, 247, 255, 0.81);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-size: 40px;">Shyro is built by Marketers for Marketers</h1>
      </div>
    </div>
  </div>
</section>

<!--feature start-->

<section id="feature" class="pos-r o-hidden text-center">
  <div class="bg-animation">
    <img class="zoom-fade" src="images/pattern/03.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div> <i class="la la-cubes"></i>
          </div>
          <h2 class="title">The Best User Experience</h2>
          <p>Shyro was built with facility and ease in mind. Everything, from adding your funnels, activating apps happens within seconds. Furthermore, you can make changes instantly in the dashboard and view them directly in your funnel.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="featured-item style-4">
          <div class="featured-icon">
            <img class="img-center" src="images/feature/05.png" alt="">
          </div>
          <div class="featured-title">
            <h5>Easy Setup</h5>
          </div>
          <div class="featured-desc">
            <p>Literally a matter of adding your funnel steps and products,  a process that takes no more than 5 minutes.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 sm-mt-5">
        <div class="featured-item style-4">
          <div class="featured-icon">
            <img class="img-center" src="images/feature/04.png" alt="">
          </div>
          <div class="featured-title">
            <h5>Activate Apps</h5>
          </div>
          <div class="featured-desc">
            <p>Activate and Deactivate features and functions in your funnels with a simple ON/OFF switch.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 md-mt-5">
        <div class="featured-item style-4">
          <div class="featured-icon">
            <img class="img-center" src="images/feature/09.png" alt="">
          </div>
          <div class="featured-title">
            <h5>24/7 Priority Support</h5>
          </div>
          <div class="featured-desc">
            <p>We will be with you in your AMAZING journey. If anything happens feel free to reach out with priority support.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--feature end-->

<!--about start-->

<section id='service' class="pos-r o-hidden">
  <div class="bg-animation">
    <img class="zoom-fade" src="images/pattern/03.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="tab style-2">
          <!-- Nav tabs -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="nav-tab1" data-toggle="tab" href="#tab1-1" role="tab" aria-selected="false"> <i class="flaticon-data"></i> 
                <h5>Marketing</h5>
              </a> <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#tab1-2" role="tab" aria-selected="false"><i class="flaticon-research"></i> <h5>Planning</h5></a>
              <a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" href="#tab1-3" role="tab" aria-selected="false"><i class="flaticon-analytics"></i> <h5>Anlysis</h5></a>
              <a class="nav-item nav-link active" id="nav-tab4" data-toggle="tab" href="#tab1-4" role="tab" aria-selected="true"><i class="flaticon-objective"></i> <h5>Stratergy</h5></a>
                <div class="tab-content" id="nav-tabContent">

            <div role="tabpanel" class="tab-pane fade" id="tab1-1">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                  <img class="img-fluid" src="images/svg/04.svg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 md-mt-5">
                  <h4 class="mb-4">Powerful &amp; Awesome Marketing</h4>
                  <p class="mb-4">Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="custom-li list-unstyled list-icon-2 d-inline-block">
                    <li>Design must be functional</li>
                    <li>Futionality must into</li>
                    <li>Aenean pellentes vitae</li>
                    <li>Mattis effic iturut magna</li>
                    <li>Lusce enim nulla mollis</li>
                    <li>Phasellus eget felis</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab1-2">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                  <img class="img-fluid" src="images/svg/05.svg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 md-mt-5">
                  <h4 class="mb-4">Powerful &amp; Awesome Marketing</h4>
                  <p class="mb-4">Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="custom-li list-unstyled list-icon-2 d-inline-block">
                    <li>Design must be functional</li>
                    <li>Futionality must into</li>
                    <li>Aenean pellentes vitae</li>
                    <li>Mattis effic iturut magna</li>
                    <li>Lusce enim nulla mollis</li>
                    <li>Phasellus eget felis</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab1-3">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                  <img class="img-fluid" src="images/svg/06.svg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 md-mt-5">
                  <h4 class="mb-4">Powerful &amp; Awesome Marketing</h4>
                  <p class="mb-4">Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="custom-li list-unstyled list-icon-2 d-inline-block">
                    <li>Design must be functional</li>
                    <li>Futionality must into</li>
                    <li>Aenean pellentes vitae</li>
                    <li>Mattis effic iturut magna</li>
                    <li>Lusce enim nulla mollis</li>
                    <li>Phasellus eget felis</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade active show" id="tab1-4">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                  <img class="img-fluid" src="images/svg/07.svg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 md-mt-5">
                  <h4 class="mb-4">Powerful &amp; Awesome Marketing</h4>
                  <p class="mb-4">Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="custom-li list-unstyled list-icon-2 d-inline-block">
                    <li>Design must be functional</li>
                    <li>Futionality must into</li>
                    <li>Aenean pellentes vitae</li>
                    <li>Mattis effic iturut magna</li>
                    <li>Lusce enim nulla mollis</li>
                    <li>Phasellus eget felis</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

              <a class="nav-item nav-link" id="nav-tab5" data-toggle="tab" href="#tab1-5" role="tab" aria-selected="false"> <i class="flaticon-data"></i> 
                <h5>Marketing</h5>
              </a> <a class="nav-item nav-link" id="nav-tab6" data-toggle="tab" href="#tab1-6" role="tab" aria-selected="false"><i class="flaticon-research"></i> <h5>Planning</h5></a>
              <a class="nav-item nav-link" id="nav-tab7" data-toggle="tab" href="#tab1-7" role="tab" aria-selected="false"><i class="flaticon-analytics"></i> <h5>Anlysis</h5></a>
              <a class="nav-item nav-link" id="nav-tab8" data-toggle="tab" href="#tab1-8" role="tab" aria-selected="false"><i class="flaticon-objective"></i> <h5>Stratergy</h5></a>
            </div>
          </nav>
          <!-- Tab panes -->
          

          <nav style="padding-bottom: 35px;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<!--about end-->





<!--team start-->



<!--team end-->


<!--pricing start-->

<section id="pricing" class="dark-bg pos-r o-hidden">
  <div class="bg-animation">
    <img class="zoom-fade" src="images/pattern/03.png" alt="">
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div> <i class="la la-money"></i>
          </div>
          <h2 class="title">Choose Your Plan</h2>
          <p class="text-white">Our <strong style="font-weight: 700">Early bird</strong> pricing plans make <strong style="font-weight: 700">Shyro the most affordable</strong> on the Market, while maintaining the highest quality.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12">
        <div class="price-table style-2">
          <div class="price-inside">Free</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>0</h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Free</h3> 
          </div>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>Access to marketplace</li>
              <li style="text-decoration: line-through;">List in Marketplace</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
          <a class="btn btn-theme btn-circle mt-4" href="#" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5">
        <div class="price-table style-2 active">
          <div class="price-inside">Premium</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>27<strong>.99</strong></h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Premium</h3> 
          </div>
          <a class="btn btn-theme btn-circle my-4" href="#" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
          <div class="price-list">
            <ul class="list-unstyled">
              <li style="font-weight: 700; font-size: 15px;">All STARTER Features</li>
              <li>Shyro Pay</li>
              <li>Quantity Selector</li>
              <li>Product Variants</li>
              <li>Smart Currency</li>
              <li style="font-style: italic;">Abandoned Checkout (Soon)</li>
              <li style="font-style: italic;">Advanced Facebook Tracking (Soon)</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5">
        <div class="price-table style-2">
          <div class="price-inside">Starter</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>5<strong>.99</strong></h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Starter</h3> 
          </div>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>Access to marketplace</li>
              <li>List in Marketplace</li>
              <li>Product Highlight</li>
              <li>Custom Order Bumps</li>
              <li>Product Split-Test</li>
              <li>Custom Video Overlay</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
          <a class="btn btn-theme btn-circle mt-4" href="#" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--pricing end-->


<!--testimonial start-->

<section id='faq' class="pos-r py-15 md-py-8">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 image-column right p-0">
        <div class="img-box box-shadow radius-1">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <img class="img-center" src="images/banner/04.jpg" alt="">
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-12 mr-auto md-mt-5">
        <div id="accordion" class="accordion style-1">
          <div class="card active">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true"><span></span>consectetur adipisicing elit, sed ?</a>
              </h6>
            </div>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span></span>temporo incididunt ut labore et dolore ?</a>
              </h6>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span></span>quis nostrd exercitation ullamco laboris ?</a>
              </h6>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--testimonial end-->
<!--step start-->

<section id='testimonial' class="pos-r o-hidden" data-bg-img="images/pattern/01.png" style="background-image: url(&quot;images/pattern/01.png&quot;);">
  <canvas id="confetti" width="1536" height="722"></canvas>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="title-effect title-effect-2">
            <div class="ellipse"></div> <i class="fas fa-users"></i>
          </div>
        <div class="section-title">
          <h2 class="title">Don’t take it from us, <span class="text-theme">Here’s what our clients said!</span></h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="testimonial-3" class="testimonial-carousel carousel slide testimonial-3" data-ride="carousel" data-interval="2500">
          <!-- Wrapper for slides -->
          <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-8 ml-auto">
              <div class="carousel-inner">
                <div class="carousel-item">
                  <div class="testimonial style-3">
                    <div class="testimonial-img">
                      <img class="img-center" src="images/testimonial/01.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                      <div class="testimonial-quote"><i class="la la-quote-left"></i>
                      </div>
                      <p>Recommended Professional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                      <div class="testimonial-caption">
                        <h5>Lana Roadse</h5>
                        <label>CEO of Softino</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item active carousel-item-left">
                  <div class="testimonial style-3">
                    <div class="testimonial-img">
                      <img class="img-center" src="images/testimonial/02.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                      <div class="testimonial-quote"><i class="la la-quote-left"></i>
                      </div>
                      <p>Professional Recommended crofessional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                      <div class="testimonial-caption">
                        <h5>Lana Roadse</h5>
                        <label>CEO of Softino</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item carousel-item-next carousel-item-left">
                  <div class="testimonial style-3">
                    <div class="testimonial-img">
                      <img class="img-center" src="images/testimonial/03.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                      <div class="testimonial-quote"><i class="la la-quote-left"></i>
                      </div>
                      <p>Consectetur Recommended Professional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, adipisicing elitelit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                      <div class="testimonial-caption">
                        <h5>Lana Roadse</h5>
                        <label>CEO of Softino</label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Item -->
              </div>
              <!-- End Carousel Inner -->
            </div>
          </div>
          <div class="controls">
            <ul class="nav">
              <li data-target="#testimonial-3" data-slide-to="0" class="">
                <a href="#">
                  <img class="img-fluid" src="images/testimonial/01.jpg" alt="">
                </a>
              </li>
              <li data-target="#testimonial-3" data-slide-to="1" class="">
                <a href="#">
                  <img class="img-fluid" src="images/testimonial/02.jpg" alt="">
                </a>
              </li>
              <li data-target="#testimonial-3" data-slide-to="2" class="active">
                <a href="#">
                  <img class="img-fluid" src="images/testimonial/03.jpg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Carousel -->
      </div>
    </div>
  </div>
<div></div></section>

<!--step end-->

<!--blog start-->


<!--blog end-->

</div>

<!--body content end--> 


<!--footer start-->

<footer class="footer footer-1 pos-r dark-bg animatedBackground"  data-bg-img="images/pattern/03.png">
  
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-logo">
            <img id="footer-logo-img" src="/views/gfx/logo-white-B.png" class="img-center" alt="">
          </div>
          <p class="mb-0">Softino Software Landing Page Is fully responsible, Build whatever you like with the Softino, Softino is the creative, modern HTML5 Template suitable for Your business.</p>
        </div>
        <div class="col-lg-4 col-md-6 pl-md-5 sm-mt-5 footer-list justify-content-between d-flex">
          <ul class="list-unstyled w-100">            
            <li><a href="about-us.html">About Us</a>
            </li>
            <li><a href="services.html">Service</a>
            </li>
            <li><a href="team.html">Team</a>
            </li>
            <li><a href="team-single.html">Team Single</a>
            </li>
            <li><a href="contact.html">Contact Us</a>
            </li>
          </ul>
          <ul class="list-unstyled w-100">
            <li><a href="blog-right-sidebar.html">Blog</a>
            </li>            
            <li><a href="faq.html">Faq</a>
            </li>
            <li><a href="error-404.html">Error 404</a>
            </li>
            <li><a href="privacy-policy.html">Privacy Policy</a>
            </li>
            <li><a href="terms-and-conditions.html">Terms</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 md-mt-5">
          <ul class="media-icon list-unstyled">
            <li>
              <p class="mb-0">Address: <b>423B, Road Wordwide Country, USA</b>
              </p>
            </li>
            <li>Email: <a href="mailto:themeht23@gmail.com"><b>themeht23@gmail.com</b></a>
            </li>
            <li>Phone: <a href="tel:+912345678900"><b>+91-234-567-8900</b></a>
            </li>
            <li>Fax: <a href="tel:+912345678900"><b>+91-234-567-8900</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container">
      <div class="copyright">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12"> <span>Copyright 2019 Softino Theme by <u><a href="#">ThemeHt</a></u> | All Rights Reserved</span>
          </div>
          <div class="col-lg-6 col-md-12 text-lg-right md-mt-3">
            <div class="footer-social">
              <ul class="list-inline">
                <li class="mr-2"><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
                </li>
                <li class="mr-2"><a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i> Google Plus</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--footer end-->


</div>

<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>

<!--back-to-top end-->

 
<!-- inject js start -->

<!--== jquery -->
<script src="js/theme.js"></script> 

<!--== menu --> 
<script src="js/menu/jquery.smartmenus.js"></script>

<!--== owl-carousel -->
<script src="js/owl-carousel/owl.carousel.min.js"></script> 

<!--== magnific-popup --> 
<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!--== counter -->
<script src="js/counter/counter.js"></script> 

<!--== countdown -->
<script src="js/countdown/jquery.countdown.min.js"></script> 

<!--== canvas -->
<script src="js/canvas.js"></script>

<!--== confetti -->
<script src="js/confetti.js"></script>

<!--== step animation -->
<script src="js/snap.svg.js"></script>
<script src="js/step.js"></script>

<!--== contact-form -->
<script src="js/contact-form/contact-form.js"></script>

<!--== wow -->
<script src="js/wow.min.js"></script>

<!--== theme-script -->
<script src="js/theme-script.js"></script>

<!-- inject js end -->

</body>

</html>