<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="keywords" content="bootstrap 4, premium, multipurpose, sass, scss, saas, software" />
<meta name="description" content="HTML5 Template" />
<meta name="author" content="www.themeht.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Shyro - Refund Policy</title>

<!-- favicon icon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- inject css start -->

<!--== bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 

<!--== animate -->
<link href="css/animate.css" rel="stylesheet" type="text/css" />

<!--== fontawesome -->
<link href="css/fontawesome-all.css" rel="stylesheet" type="text/css" />

<!--== line-awesome -->
<link href="css/line-awesome.min.css" rel="stylesheet" type="text/css" />

<!--== magnific-popup -->
<link href="css/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

<!--== owl-carousel -->
<link href="css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />

<!--== basic-theme -->
<link href="css/base.css" rel="stylesheet" type="text/css" />

<!--== default-theme -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!--== responsive -->
<link href="css/responsive.css" rel="stylesheet" type="text/css" />
<!--== shortcodes -->
<link href="css/shortcodes.css" rel="stylesheet" type="text/css" />
<!-- inject css end -->
<link href="css/theme-color/color-6.css" rel="stylesheet" type="text/css" />
<link href="/views/gfx/fonts/flaticon.css" rel="stylesheet" type="text/css" />
<style type="text/css">
  #main-menu .nav-item>.nav-link{
    color: black;
  }
  #main-menu .nav-item>.nav-link.active{
    color: black;
  }
  .fixed-header #main-menu .nav-item>.nav-link{
    color: #1c1d3e;
  }
  .fixed-header #main-menu .nav-item>.nav-link.active{
    color: #481EA7;
  }
  .fixed-header .btn-white{
    background: #02060b;
    color: #ffffff;
  }
  #pricing{
    margin-bottom:  140px;
  }
  #home{
    margin-bottom: 180px;
  }
  .price-value h2 strong{
    font-weight: 300;
font-size: 45px;
margin-left: -3px;
  }
  #faq{
    margin-bottom:  90px;
  }
  #about{
    padding-bottom: 80px !important;
  }
  body,html{
    overflow-x: hidden;
  }
  .price-table.style-2 .price-inside{
    color: rgba(255,255,255,0.070);
  }
  #quote{
    padding: 180px 0;
  }
  #service{
    margin-bottom: 50px;  
  }
  .footer-1{
    margin-top: 0;
  }
  #testimonial{
    padding-bottom: 250px;
  }
  .tab .nav-tabs
  {
    display:flex;
  }
  .tab.style-2 .nav-tabs .nav-link{
    flex: 0 0 23%;
  }
  .expand_div{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,1));
    height: 100px;
    widows: 100%;
    margin-top: -100px;
    position: relative;
    z-index: 99;
    text-align: center;
    vertical-align: bottom;
    padding-top: 40px;
    color: #6C63FF;
    font-size: 30px;
  }
  .expand_div span{
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out 0s;
-moz-transition: all 0.25s ease-in-out 0s;
-ms-transition: all 0.25s ease-in-out 0s;
-o-transition: all 0.25s ease-in-out 0s;
transition: all 0.25s ease-in-out 0s;
cursor: pointer;
  }
  .expand_div span:hover{
    padding-top: 10px;
    
  }
  .expandable{
    display: none;  
  }
  .custom-li li {
    width: calc(100%);
  }
</style>

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">

<!-- preloader start -->

<div id="ht-preloader">
  <div class="loader clear-loader">
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-wrap-text">
      <div class="text"><span>S</span><span>H</span><span>Y</span><span>R</span><span>O</span><span>.</span><span>I</span><span>O</span></div>
    </div>
  </div>
</div>

<!-- preloader end -->


<!--header start-->
<header id="site-header" class="header header-3">
  <div class="container">
    <div id="header-wrap" class="" style="background-color: transparent;">
      <div class="row">
        <div class="col-lg-12">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="index.html">
              <img id="logo-img" class="img-center" src="/views/gfx/logo.png" alt="">
              <img id="logo-img" class="img-center sticky-logo" src="/views/gfx/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <!-- Left nav -->
              <ul id="main-menu" class="nav navbar-nav ml-auto mr-auto" data-smartmenus-id="16060438405453936">
              <li class="nav-item"> <a class="nav-link active" href="/">Home</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="/#about">About</a> 
                </li>
               
                <li class="nav-item"> <a class="nav-link" href="/#feature">Features</a> 
                </li>
                 <li class="nav-item"> <a class="nav-link" href="/#service">Apps</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="/#pricing">Pricing</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="/#faq">FAQ</a> 
                </li>
                <li class="nav-item"> <a class="nav-link" href="/#testimonial">Reviews</a> 
                </li>
              </ul>
            </div>
            <% if(logged){ %>
            <a class="btn btn-white btn-sm" href="/login" data-text="Dashboard"> <span>D</span><span>a</span><span>s</span><span>h</span><span>b</span><span>o</span><span>a</span><span>r</span><span>d</span>
            <%}else{%>
            <a class="btn btn-white btn-sm" href="/login" data-text="Login"> <span>L</span><span>o</span><span>g</span><span>i</span><span>n</span>
            <%}%>
          </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
<div></div></header>

<!--header end-->

<!--page title start-->

<section class="page-title o-hidden pos-r md-text-center" data-bg-color="#fbf3ed">
  <canvas id="confetti"></canvas>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="title"><span>R</span>efund Policy</h1>
        <p>Shyro.io's Refund Policy</p>
      </div>
      <div class="col-lg-5 col-md-12 text-lg-right md-mt-3">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Refund Policy</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="page-title-pattern"><img class="img-fluid" src="images/bg/11.png" alt=""></div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">

<!--privacy start-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="title mb-0">Refund <span>Policy</span></h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-12 col-md-12">
        <p> Thanks for purchasing our subscribing to our services at Shyro.io operated by Shyro ,Sarl.</p>
        <p>We offer a full money-back guarantee for all purchases made on our website. If you are not satisfied with the product that you have purchased from us, you can get your money back no questions asked. You are eligible for a full reimbursement within 30 calendar days of your purchase. </p>
        <p>After the 30-day period you will no longer be eligible and won't be able to receive a refund. We encourage our customers to try service in the first two weeks after their purchase to ensure it fits your needs. </p>
        <p>If you have any additional questions or would like to request a refund, feel free to contact us at Contact@Shyro.io.</p>
      </div>
    </div>
  </div>
</section>

<!--privacy end-->

</div>

<!--body content end--> 


<!--footer start-->

<footer class="footer footer-1 pos-r dark-bg animatedBackground"  data-bg-img="images/pattern/03.png">
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-logo">
            <img id="footer-logo-img" src="/views/gfx/logo-white-B.png" class="img-center" alt="">
          </div>
          <p class="mb-0">A Team of Driven Marketers, obssessed with Optimizing, Fine Tuning the Sales Funnel to make the most return out of every penny spent. The result is Shyro, a tool that will bring your conversions' rates through the roof.</p>
        </div>
        <div class="col-lg-4 col-md-6 pl-md-5 sm-mt-5 footer-list justify-content-between d-flex">
          <ul class="list-unstyled w-100"> 
            <li><a href="#"><strong>Support :</strong></a>
            </li>           
            <li><a href="#">About Us</a>
            </li>
            <li><a href="#">FAQs</a>
            </li>
            <li><a href="#">Documentation</a>
            </li>
            
            <li><a href="#">Contact Us</a>
            </li>
          </ul>
          <ul class="list-unstyled w-100">
            <li><a href="#"><strong>Legal :</strong></a>
            </li> 
            <li><a href="/terms-of-service">Terms of Service</a>
            </li>            
            <li><a href="/privacy-statement">Privacy Statement</a>
            </li>
            <li><a href="/refund-policy">Refund Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 md-mt-5">
          
          <h4>Newsletter</h4>
          <p>Not just a Newsletter, We actually send value.. news, freebies, templates, hacks & tricks.. </p>
          <div class="subscribe-form sm-mt-2">
            <form id="mc-form" class="group">
              <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
              <input class="btn btn-theme" type="submit" name="subscribe" value="Subscribe">
            </form>
          
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container">
      <div class="copyright">
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-12" style="text-align: center;"> <span>Shyro.io - Copyright © 2020, All Rights Reserved | Built and Design by Shyro's Team.</span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-12" style="text-align: center;"> <span style="font-size: 12px;">Shyro is not a part of Clickfunnels.com.  Additionally, this tool is NOT endorsed by Clickfunnels® in any way, shape or form.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--footer end-->


</div>

<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>

<!--back-to-top end-->

 
<!-- inject js start -->

<!--== jquery -->
<script src="js/theme.js"></script> 

<!--== menu --> 
<script src="js/menu/jquery.smartmenus.js"></script>

<!--== owl-carousel -->
<script src="js/owl-carousel/owl.carousel.min.js"></script> 

<!--== magnific-popup --> 
<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!--== counter -->
<script src="js/counter/counter.js"></script> 

<!--== countdown -->
<script src="js/countdown/jquery.countdown.min.js"></script> 

<!--== canvas -->
<script src="js/canvas.js"></script>

<!--== confetti -->
<script src="js/confetti.js"></script>

<!--== step animation -->
<script src="js/snap.svg.js"></script>
<script src="js/step.js"></script>

<!--== contact-form -->
<script src="js/contact-form/contact-form.js"></script>

<!--== wow -->
<script src="js/wow.min.js"></script>

<!--== theme-script -->
<script src="js/theme-script.js"></script>

<!-- inject js end -->
<script>
    $('.nav-item.nav-link').click(function(){
        $('.nav-item.nav-link').removeClass('active');
        $('.expand_div').show();
        $('.expandable').hide();
    });
    $('.expand_div span').click(function(){
        $(this).parent().hide();
        $(this).parent().next().slideDown(400);
    });
</script>
<%- include('../snippets/livechat'); %>
</body>

</html>